In [11]:
!pip install statsmodels

Requirement already satisfied: statsmodels in /opt/conda/lib/python3.9/site-packages (0.14.3)
Requirement already satisfied: pandas!=2.1.0,>=1.4 in /opt/conda/lib/python3.9/site-packages (from statsmodels) (2.2.0)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in /opt/conda/lib/python3.9/site-packages (from statsmodels) (1.13.1)
Requirement already satisfied: numpy<3,>=1.22.3 in /opt/conda/lib/python3.9/site-packages (from statsmodels) (1.26.4)
Requirement already satisfied: packaging>=21.3 in /opt/conda/lib/python3.9/site-packages (from statsmodels) (23.2)
Requirement already satisfied: patsy>=0.5.6 in /opt/conda/lib/python3.9/site-packages (from statsmodels) (0.5.6)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.9/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2024.1)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.9/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.9/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.9.0.post0)
Requirement already satisfied: six in /opt/conda/lib/python3.9/site-packages (from patsy>=0.5.6->statsmodels) (1.16.0)
WARNING: You are using pip version 19.3.1; however, version 24.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [12]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.tsa.statespace.sarimax import SARIMAX
from sklearn.metrics import mean_squared_error, r2_score

In [13]:
from fosforml.model_manager.snowflakesession import get_session
my_session = get_session()
 
table_name = '"FACT_CUSTOMER_ORDERS"'
 
sf_df = my_session.sql("select * from {}".format(table_name))
df = sf_df.to_pandas()

In [14]:
data = df[['PRODUCT_ID','ORDER_DATE','ORDER_QTY']]

In [15]:
data['ORDER_DATE']=pd.to_datetime(data['ORDER_DATE'])

In [16]:
data_grouped = data.groupby(['PRODUCT_ID',data['ORDER_DATE'].dt.to_period('M')]).agg(Total_Order_Qty=('ORDER_QTY','sum')).reset_index()

In [17]:
data_grouped['ORDER_MONTH']=data_grouped['ORDER_DATE'].dt.to_timestamp()

In [18]:
data_grouped = data_grouped[['PRODUCT_ID','ORDER_MONTH','Total_Order_Qty']]

In [19]:
data_grouped

       PRODUCT_ID ORDER_MONTH  Total_Order_Qty
0     Product_001  2019-01-01           148400
1     Product_001  2019-02-01           146650
2     Product_001  2019-03-01           133150
3     Product_001  2019-04-01           153600
4     Product_001  2019-05-01           154650
...           ...         ...              ...
2987  Product_100  2024-04-01            30200
2988  Product_100  2024-05-01            27850
2989  Product_100  2024-06-01            33200
2990  Product_100  2024-07-01            33300
2991  Product_100  2024-08-01            30700

[2992 rows x 3 columns]

In [20]:
data_grouped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2992 entries, 0 to 2991
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PRODUCT_ID       2992 non-null   object
 1   ORDER_MONTH      2992 non-null   datetime64[ns]
 2   Total_Order_Qty  2992 non-null   int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 70.2+ KB

In [21]:
data_grouped = data_grouped.set_index('ORDER_MONTH')

In [22]:
data_grouped.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2992 entries, 2019-01-01 to 2024-08-01
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PRODUCT_ID       2992 non-null   object
 1   Total_Order_Qty  2992 non-null   int64
dtypes: int64(1), object(1)
memory usage: 70.1+ KB

In [23]:
# Group data by 'product_id'
PID_grouped_data = data_grouped.groupby('PRODUCT_ID')

In [42]:
# Initialize an empty DataFrame for forecast results
test_results = pd.DataFrame(columns=['PRODUCT_ID','ORDER_MONTH', 'test_forecast_orders','rse', 'rmse','r2_score'])
test_results.set_index('ORDER_MONTH')

Empty DataFrame
Columns: [PRODUCT_ID, test_forecast_orders, rse, rmse, r2_score]
Index: []

In [43]:
# Initialize an empty DataFrame for forecast results
forecast_results = pd.DataFrame(columns=['PRODUCT_ID','ORDER_MONTH', 'forecast_order_qty'])
forecast_results.set_index('ORDER_MONTH')

Empty DataFrame
Columns: [PRODUCT_ID, forecast_order_qty]
Index: []

In [31]:
print(PID_grouped_data)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f0a2bc38b80>

In [44]:
for product_id, group in PID_grouped_data:
    # Sort data by order date
    group.sort_index(inplace=True)
    
    # Split data into train and test sets (80% train, 20% test)
    train_size = int(0.8 * len(group))
    train_data, test_data = group.iloc[:train_size], group.iloc[train_size:]

    
    
    # Create SARIMAX model
    model = SARIMAX(train_data['Total_Order_Qty'], order=(1, 1, 1), seasonal_order=(1, 1, 1, 12))
    model_fit = model.fit(disp=False)
    
    # Forecast the next period
    test_model = model_fit.get_forecast(steps=len(test_data))
    test_df = test_model.predicted_mean

    #print(f'test_df:{test_df.index}')
    
    # Calculate RMSE for order quantity
    #rmse_order_qty = np.sqrt(mean_squared_error(test_data['ORDER_QTY'], forecast_order_qty))
    
    # Evaluate the model
    rse = np.sqrt(((test_df - test_data) ** 2).sum().sum() / (test_data.shape[0] * test_data.shape[1] - len(model_fit.params)))
    rmse = np.sqrt(mean_squared_error(test_data['Total_Order_Qty'], test_df))
    r2 = r2_score(test_data['Total_Order_Qty'], test_df)

    
    date_list = test_df.index.to_list()
    

    
    #print(f"Order_date: {date_list}")    
    new_row = {
        'product_id': product_id,
        'order_month': date_list,
        'test_forecast_orders': test_df,
        'rse': rse,
        'rmse': rmse,
        'r2_score': r2
    }
    
    df_new = pd.DataFrame(new_row)

    df_new.set_index('order_month')
    
    test_results=pd.concat([test_results,df_new],ignore_index=True)
    print(f'{test_results}')
    # Forecast future values
    forecast = model_fit.get_forecast(steps=25)#, steps=n_forecast)
    forecast_df = forecast.predicted_mean
    
    date_list2= forecast_df.index.to_list()
    
    new_row2 = {
        'product_id': product_id,
        'order_date': date_list2,
        'forecast_order_qty': forecast_df,
    }
    
    df_new2 = pd.DataFrame(new_row2)
    
    forecast_results=pd.concat([forecast_results,df_new2],ignore_index=True)

   PRODUCT_ID ORDER_MONTH  test_forecast_orders  rse          rmse  r2_score  \
0         NaN         NaN         118823.028009  0.0  15697.565379  -0.05509
1         NaN         NaN         101123.262760  0.0  15697.565379  -0.05509
2         NaN         NaN         105282.149996  0.0  15697.565379  -0.05509
3         NaN         NaN         117745.845182  0.0  15697.565379  -0.05509
4         NaN         NaN         110611.593083  0.0  15697.565379  -0.05509
5         NaN         NaN         109442.188136  0.0  15697.565379  -0.05509
6         NaN         NaN         123789.859016  0.0  15697.565379  -0.05509
7         NaN         NaN         121702.673686  0.0  15697.565379  -0.05509
8         NaN         NaN         126125.919391  0.0  15697.565379  -0.05509
9         NaN         NaN         122617.484315  0.0  15697.565379  -0.05509
10        NaN         NaN         113678.212178  0.0  15697.565379  -0.05509
11        NaN         NaN         122553.505870  0.0  15697.565379  -0.05509
12        NaN         NaN         123281.759280  0.0  15697.565379  -0.05509
13        NaN         NaN         106051.738107  0.0  15697.565379  -0.05509

     product_id order_month
0   Product_001  2023-07-01
1   Product_001  2023-08-01
2   Product_001  2023-09-01
3   Product_001  2023-10-01
4   Product_001  2023-11-01
5   Product_001  2023-12-01
6   Product_001  2024-01-01
7   Product_001  2024-02-01
8   Product_001  2024-03-01
9   Product_001  2024-04-01
10  Product_001  2024-05-01
11  Product_001  2024-06-01
12  Product_001  2024-07-01
13  Product_001  2024-08-01
   PRODUCT_ID ORDER_MONTH  test_forecast_orders  rse          rmse  r2_score  \
0         NaN         NaN         118823.028009  0.0  15697.565379 -0.055090
1         NaN         NaN         101123.262760  0.0  15697.565379 -0.055090
2         NaN         NaN         105282.149996  0.0  15697.565379 -0.055090
3         NaN         NaN         117745.845182  0.0  15697.565379 -0.055090
4         NaN         NaN         110611.593083  0.0  15697.565379 -0.055090
5         NaN         NaN         109442.188136  0.0  15697.565379 -0.055090
6         NaN         NaN         123789.859016  0.0  15697.565379 -0.055090
7         NaN         NaN         121702.673686  0.0  15697.565379 -0.055090
8         NaN         NaN         126125.919391  0.0  15697.565379 -0.055090
9         NaN         NaN         122617.484315  0.0  15697.565379 -0.055090
10        NaN         NaN         113678.212178  0.0  15697.565379 -0.055090
11        NaN         NaN         122553.505870  0.0  15697.565379 -0.055090
12        NaN         NaN         123281.759280  0.0  15697.565379 -0.055090
13        NaN         NaN         106051.738107  0.0  15697.565379 -0.055090
14        NaN         NaN          76414.854699  0.0   8635.840218  0.310731
15        NaN         NaN          60358.156055  0.0   8635.840218  0.310731
16        NaN         NaN          65591.731842  0.0   8635.840218  0.310731
17        NaN         NaN          67100.744568  0.0   8635.840218  0.310731
18        NaN         NaN          60097.815694  0.0   8635.840218  0.310731
19        NaN         NaN          57846.489408  0.0   8635.840218  0.310731
20        NaN         NaN          67227.475308  0.0   8635.840218  0.310731
21        NaN         NaN          74314.673968  0.0   8635.840218  0.310731
22        NaN         NaN          77358.462523  0.0   8635.840218  0.310731
23        NaN         NaN          75494.743748  0.0   8635.840218  0.310731
24        NaN         NaN          72261.376450  0.0   8635.840218  0.310731
25        NaN         NaN          74580.228566  0.0   8635.840218  0.310731
26        NaN         NaN          80385.385932  0.0   8635.840218  0.310731
27        NaN         NaN          66463.441620  0.0   8635.840218  0.310731

     product_id order_month
0   Product_001  2023-07-01
1   Product_001  2023-08-01
2   Product_001  2023-09-01
3   Product_001  2023-10-01
4   Product_001  2023-11-01
5   Product_001  2023-12-01
6   Product_001  2024-01-01
7   Product_001  2024-02-01
8   Product_001  2024-03-01
9   Product_001  2024-04-01
10  Product_001  2024-05-01
11  Product_001  2024-06-01
12  Product_001  2024-07-01
13  Product_001  2024-08-01
14  Product_002  2023-07-01
15  Product_002  2023-08-01
16  Product_002  2023-09-01
17  Product_002  2023-10-01
18  Product_002  2023-11-01
19  Product_002  2023-12-01
20  Product_002  2024-01-01
21  Product_002  2024-02-01
22  Product_002  2024-03-01
23  Product_002  2024-04-01
24  Product_002  2024-05-01
25  Product_002  2024-06-01
26  Product_002  2024-07-01
27  Product_002  2024-08-01
   PRODUCT_ID ORDER_MONTH  test_forecast_orders  rse          rmse  r2_score  \
0         NaN         NaN         118823.028009  0.0  15697.565379 -0.055090
1         NaN         NaN         101123.262760  0.0  15697.565379 -0.055090
2         NaN         NaN         105282.149996  0.0  15697.565379 -0.055090
3         NaN         NaN         117745.845182  0.0  15697.565379 -0.055090
4         NaN         NaN         110611.593083  0.0  15697.565379 -0.055090
5         NaN         NaN         109442.188136  0.0  15697.565379 -0.055090
6         NaN         NaN         123789.859016  0.0  15697.565379 -0.055090
7         NaN         NaN         121702.673686  0.0  15697.565379 -0.055090
8         NaN         NaN         126125.919391  0.0  15697.565379 -0.055090
9         NaN         NaN         122617.484315  0.0  15697.565379 -0.055090
10        NaN         NaN         113678.212178  0.0  15697.565379 -0.055090
11        NaN         NaN         122553.505870  0.0  15697.565379 -0.055090
12        NaN         NaN         123281.759280  0.0  15697.565379 -0.055090
13        NaN         NaN         106051.738107  0.0  15697.565379 -0.055090
14        NaN         NaN          76414.854699  0.0   8635.840218  0.310731
15        NaN         NaN          60358.156055  0.0   8635.840218  0.310731
16        NaN         NaN          65591.731842  0.0   8635.840218  0.310731
17        NaN         NaN          67100.744568  0.0   8635.840218  0.310731
18        NaN         NaN          60097.815694  0.0   8635.840218  0.310731
19        NaN         NaN          57846.489408  0.0   8635.840218  0.310731
20        NaN         NaN          67227.475308  0.0   8635.840218  0.310731
21        NaN         NaN          74314.673968  0.0   8635.840218  0.310731
22        NaN         NaN          77358.462523  0.0   8635.840218  0.310731
23        NaN         NaN          75494.743748  0.0   8635.840218  0.310731
24        NaN         NaN          72261.376450  0.0   8635.840218  0.310731
25        NaN         NaN          74580.228566  0.0   8635.840218  0.310731
26        NaN         NaN          80385.385932  0.0   8635.840218  0.310731
27        NaN         NaN          66463.441620  0.0   8635.840218  0.310731
28        NaN         NaN          46003.305073  0.0   5657.870658 -0.091632
29        NaN         NaN          32241.419241  0.0   5657.870658 -0.091632
30        NaN         NaN          37979.493712  0.0   5657.870658 -0.091632
31        NaN         NaN          42014.993368  0.0   5657.870658 -0.091632
32        NaN         NaN          38037.368820  0.0   5657.870658 -0.091632
33        NaN         NaN          45990.747542  0.0   5657.870658 -0.091632
34        NaN         NaN          36283.103678  0.0   5657.870658 -0.091632
35        NaN         NaN          37217.297695  0.0   5657.870658 -0.091632
36        NaN         NaN          48416.001353  0.0   5657.870658 -0.091632
37        NaN         NaN          45165.209498  0.0   5657.870658 -0.091632
38        NaN         NaN          38419.016735  0.0   5657.870658 -0.091632
39        NaN         NaN          46741.758783  0.0   5657.870658 -0.091632
40        NaN         NaN          46423.732650  0.0   5657.870658 -0.091632
41        NaN         NaN          33312.273972  0.0   5657.870658 -0.091632

     product_id order_month
0   Product_001  2023-07-01
1   Product_001  2023-08-01
2   Product_001  2023-09-01
3   Product_001  2023-10-01
4   Product_001  2023-11-01
5   Product_001  2023-12-01
6   Product_001  2024-01-01
7   Product_001  2024-02-01
8   Product_001  2024-03-01
9   Product_001  2024-04-01
10  Product_001  2024-05-01
11  Product_001  2024-06-01
12  Product_001  2024-07-01
13  Product_001  2024-08-01
14  Product_002  2023-07-01
15  Product_002  2023-08-01
16  Product_002  2023-09-01
17  Product_002  2023-10-01
18  Product_002  2023-11-01
19  Product_002  2023-12-01
20  Product_002  2024-01-01
21  Product_002  2024-02-01
22  Product_002  2024-03-01
23  Product_002  2024-04-01
24  Product_002  2024-05-01
25  Product_002  2024-06-01
26  Product_002  2024-07-01
27  Product_002  2024-08-01
28  Product_003  2023-07-01
29  Product_003  2023-08-01
30  Product_003  2023-09-01
31  Product_003  2023-10-01
32  Product_003  2023-11-01
33  Product_003  2023-12-01
34  Product_003  2024-01-01
35  Product_003  2024-02-01
36  Product_003  2024-03-01
37  Product_003  2024-04-01
38  Product_003  2024-05-01
39  Product_003  2024-06-01
40  Product_003  2024-07-01
41  Product_003  2024-08-01
   PRODUCT_ID ORDER_MONTH  test_forecast_orders  rse          rmse  r2_score  \
0         NaN         NaN         118823.028009  0.0  15697.565379 -0.055090
1         NaN         NaN         101123.262760  0.0  15697.565379 -0.055090
2         NaN         NaN         105282.149996  0.0  15697.565379 -0.055090
3         NaN         NaN         117745.845182  0.0  15697.565379 -0.055090
4         NaN         NaN         110611.593083  0.0  15697.565379 -0.055090
5         NaN         NaN         109442.188136  0.0  15697.565379 -0.055090
6         NaN         NaN         123789.859016  0.0  15697.565379 -0.055090
7         NaN         NaN         121702.673686  0.0  15697.565379 -0.055090
8         NaN         NaN         126125.919391  0.0  15697.565379 -0.055090
9         NaN         NaN         122617.484315  0.0  15697.565379 -0.055090
10        NaN         NaN         113678.212178  0.0  15697.565379 -0.055090
11        NaN         NaN         122553.505870  0.0  15697.565379 -0.055090
12        NaN         NaN         123281.759280  0.0  15697.565379 -0.055090
13        NaN         NaN         106051.738107  0.0  15697.565379 -0.055090
14        NaN         NaN          76414.854699  0.0   8635.840218  0.310731
15        NaN         NaN          60358.156055  0.0   8635.840218  0.310731
16        NaN         NaN          65591.731842  0.0   8635.840218  0.310731
17        NaN         NaN          67100.744568  0.0   8635.840218  0.310731
18        NaN         NaN          60097.815694  0.0   8635.840218  0.310731
19        NaN         NaN          57846.489408  0.0   8635.840218  0.310731
20        NaN         NaN          67227.475308  0.0   8635.840218  0.310731
21        NaN         NaN          74314.673968  0.0   8635.840218  0.310731
22        NaN         NaN          77358.462523  0.0   8635.840218  0.310731
23        NaN         NaN          75494.743748  0.0   8635.840218  0.310731
24        NaN         NaN          72261.376450  0.0   8635.840218  0.310731
25        NaN         NaN          74580.228566  0.0   8635.840218  0.310731
26        NaN         NaN          80385.385932  0.0   8635.840218  0.310731
27        NaN         NaN          66463.441620  0.0   8635.840218  0.310731
28        NaN         NaN          46003.305073  0.0   5657.870658 -0.091632
29        NaN         NaN          32241.419241  0.0   5657.870658 -0.091632
30        NaN         NaN          37979.493712  0.0   5657.870658 -0.091632
31        NaN         NaN          42014.993368  0.0   5657.870658 -0.091632
32        NaN         NaN          38037.368820  0.0   5657.870658 -0.091632
33        NaN         NaN          45990.747542  0.0   5657.870658 -0.091632
34        NaN         NaN          36283.103678  0.0   5657.870658 -0.091632
35        NaN         NaN          37217.297695  0.0   5657.870658 -0.091632
36        NaN         NaN          48416.001353  0.0   5657.870658 -0.091632
37        NaN         NaN          45165.209498  0.0   5657.870658 -0.091632
38        NaN         NaN          38419.016735  0.0   5657.870658 -0.091632
39        NaN         NaN          46741.758783  0.0   5657.870658 -0.091632
40        NaN         NaN          46423.732650  0.0   5657.870658 -0.091632
41        NaN         NaN          33312.273972  0.0   5657.870658 -0.091632
42        NaN         NaN          42211.951744  0.0  13460.088442 -1.265111
43        NaN         NaN          30761.224035  0.0  13460.088442 -1.265111
44        NaN         NaN          41182.669701  0.0  13460.088442 -1.265111
45        NaN         NaN          44113.822598  0.0  13460.088442 -1.265111
46        NaN         NaN          47052.393402  0.0  13460.088442 -1.265111
47        NaN         NaN          38046.141192  0.0  13460.088442 -1.265111
48        NaN         NaN          34291.911137  0.0  13460.088442 -1.265111
49        NaN         NaN          26744.678421  0.0  13460.088442 -1.265111
50        NaN         NaN          37384.302290  0.0  13460.088442 -1.265111
51        NaN         NaN          38299.708017  0.0  13460.088442 -1.265111
52        NaN         NaN          27092.893751  0.0  13460.088442 -1.265111
53        NaN         NaN          34646.233426  0.0  13460.088442 -1.265111
54        NaN         NaN          35336.596995  0.0  13460.088442 -1.265111
55        NaN         NaN          23860.547153  0.0  13460.088442 -1.265111

     product_id order_month
0   Product_001  2023-07-01
1   Product_001  2023-08-01
2   Product_001  2023-09-01
3   Product_001  2023-10-01
4   Product_001  2023-11-01
5   Product_001  2023-12-01
6   Product_001  2024-01-01
7   Product_001  2024-02-01
8   Product_001  2024-03-01
9   Product_001  2024-04-01
10  Product_001  2024-05-01
11  Product_001  2024-06-01
12  Product_001  2024-07-01
13  Product_001  2024-08-01
14  Product_002  2023-07-01
15  Product_002  2023-08-01
16  Product_002  2023-09-01
17  Product_002  2023-10-01
18  Product_002  2023-11-01
19  Product_002  2023-12-01
20  Product_002  2024-01-01
21  Product_002  2024-02-01
22  Product_002  2024-03-01
23  Product_002  2024-04-01
24  Product_002  2024-05-01
25  Product_002  2024-06-01
26  Product_002  2024-07-01
27  Product_002  2024-08-01
28  Product_003  2023-07-01
29  Product_003  2023-08-01
30  Product_003  2023-09-01
31  Product_003  2023-10-01
32  Product_003  2023-11-01
33  Product_003  2023-12-01
34  Product_003  2024-01-01
35  Product_003  2024-02-01
36  Product_003  2024-03-01
37  Product_003  2024-04-01
38  Product_003  2024-05-01
39  Product_003  2024-06-01
40  Product_003  2024-07-01
41  Product_003  2024-08-01
42  Product_004  2023-07-01
43  Product_004  2023-08-01
44  Product_004  2023-09-01
45  Product_004  2023-10-01
46  Product_004  2023-11-01
47  Product_004  2023-12-01
48  Product_004  2024-01-01
49  Product_004  2024-02-01
50  Product_004  2024-03-01
51  Product_004  2024-04-01
52  Product_004  2024-05-01
53  Product_004  2024-06-01
54  Product_004  2024-07-01
55  Product_004  2024-08-01
   PRODUCT_ID ORDER_MONTH  test_forecast_orders  rse          rmse  r2_score  \
0         NaN         NaN         118823.028009  0.0  15697.565379 -0.055090
1         NaN         NaN         101123.262760  0.0  15697.565379 -0.055090
2         NaN         NaN         105282.149996  0.0  15697.565379 -0.055090
3         NaN         NaN         117745.845182  0.0  15697.565379 -0.055090
4         NaN         NaN         110611.593083  0.0  15697.565379 -0.055090
..        ...         ...                   ...  ...           ...       ...
65        NaN         NaN          28302.582061  0.0   6202.608452 -0.253285
66        NaN         NaN          25863.613936  0.0   6202.608452 -0.253285
67        NaN         NaN          27386.416545  0.0   6202.608452 -0.253285
68        NaN         NaN          30146.200018  0.0   6202.608452 -0.253285
69        NaN         NaN          21279.194555  0.0   6202.608452 -0.253285

     product_id order_month
0   Product_001  2023-07-01
1   Product_001  2023-08-01
2   Product_001  2023-09-01
3   Product_001  2023-10-01
4   Product_001  2023-11-01
..          ...         ...
65  Product_007  2024-04-01
66  Product_007  2024-05-01
67  Product_007  2024-06-01
68  Product_007  2024-07-01
69  Product_007  2024-08-01

[70 rows x 8 columns]
   PRODUCT_ID ORDER_MONTH  test_forecast_orders  rse          rmse  r2_score  \
0         NaN         NaN         118823.028009  0.0  15697.565379 -0.055090
1         NaN         NaN         101123.262760  0.0  15697.565379 -0.055090
2         NaN         NaN         105282.149996  0.0  15697.565379 -0.055090
3         NaN         NaN         117745.845182  0.0  15697.565379 -0.055090
4         NaN         NaN         110611.593083  0.0  15697.565379 -0.055090
..        ...         ...                   ...  ...           ...       ...
79        NaN         NaN          67616.868525  0.0   9073.301156  0.408808
80        NaN         NaN          70619.511905  0.0   9073.301156  0.408808
81        NaN         NaN          76633.016724  0.0   9073.301156  0.408808
82        NaN         NaN          80224.282385  0.0   9073.301156  0.408808
83        NaN         NaN          68531.350195  0.0   9073.301156  0.408808

     product_id order_month
0   Product_001  2023-07-01
1   Product_001  2023-08-01
2   Product_001  2023-09-01
3   Product_001  2023-10-01
4   Product_001  2023-11-01
..          ...         ...
79  Product_010  2024-04-01
80  Product_010  2024-05-01
81  Product_010  2024-06-01
82  Product_010  2024-07-01
83  Product_010  2024-08-01

[84 rows x 8 columns]
   PRODUCT_ID ORDER_MONTH  test_forecast_orders  rse          rmse  r2_score  \
0         NaN         NaN         118823.028009  0.0  15697.565379  -0.05509
1         NaN         NaN         101123.262760  0.0  15697.565379  -0.05509
2         NaN         NaN         105282.149996  0.0  15697.565379  -0.05509
3         NaN         NaN         117745.845182  0.0  15697.565379  -0.05509
4         NaN         NaN         110611.593083  0.0  15697.565379  -0.05509
..        ...         ...                   ...  ...           ...       ...
93        NaN         NaN          59332.550685  0.0  10852.960481   0.12231
94        NaN         NaN          49969.054568  0.0  10852.960481   0.12231
95        NaN         NaN          55831.281557  0.0  10852.960481   0.12231
96        NaN         NaN          60161.815750  0.0  10852.960481   0.12231
97        NaN         NaN          50826.053592  0.0  10852.960481   0.12231

     product_id order_month
0   Product_001  2023-07-01
1   Product_001  2023-08-01
2   Product_001  2023-09-01
3   Product_001  2023-10-01
4   Product_001  2023-11-01
..          ...         ...
93  Product_015  2024-04-01
94  Product_015  2024-05-01
95  Product_015  2024-06-01
96  Product_015  2024-07-01
97  Product_015  2024-08-01

[98 rows x 8 columns]
    PRODUCT_ID ORDER_MONTH  test_forecast_orders  rse          rmse  r2_score  \
0          NaN         NaN         118823.028009  0.0  15697.565379 -0.055090
1          NaN         NaN         101123.262760  0.0  15697.565379 -0.055090
2          NaN         NaN         105282.149996  0.0  15697.565379 -0.055090
3          NaN         NaN         117745.845182  0.0  15697.565379 -0.055090
4          NaN         NaN         110611.593083  0.0  15697.565379 -0.055090
..         ...         ...                   ...  ...           ...       ...
107        NaN         NaN          69941.311748  0.0  16038.934960 -0.760735
108        NaN         NaN          55299.432746  0.0  16038.934960 -0.760735
109        NaN         NaN          70425.084413  0.0  16038.934960 -0.760735
110        NaN         NaN          92007.354380  0.0  16038.934960 -0.760735
111        NaN         NaN          51602.838647  0.0  16038.934960 -0.760735

      product_id order_month
0    Product_001  2023-07-01