In [11]:
!pip install statsmodels

Requirement already satisfied: statsmodels in /opt/conda/lib/python3.9/site-packages (0.14.3)
Requirement already satisfied: pandas!=2.1.0,>=1.4 in /opt/conda/lib/python3.9/site-packages (from statsmodels) (2.2.0)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in /opt/conda/lib/python3.9/site-packages (from statsmodels) (1.13.1)
Requirement already satisfied: numpy<3,>=1.22.3 in /opt/conda/lib/python3.9/site-packages (from statsmodels) (1.26.4)
Requirement already satisfied: packaging>=21.3 in /opt/conda/lib/python3.9/site-packages (from statsmodels) (23.2)
Requirement already satisfied: patsy>=0.5.6 in /opt/conda/lib/python3.9/site-packages (from statsmodels) (0.5.6)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.9/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2024.1)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.9/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.9/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.9.0.post0)
Requirement already satisfied: six in /opt/conda/lib/python3.9/site-packages (from patsy>=0.5.6->statsmodels) (1.16.0)
WARNING: You are using pip version 19.3.1; however, version 24.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [12]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.tsa.statespace.sarimax import SARIMAX
from sklearn.metrics import mean_squared_error, r2_score

In [13]:
from fosforml.model_manager.snowflakesession import get_session
my_session = get_session()
 
table_name = '"FACT_CUSTOMER_ORDERS"'
 
sf_df = my_session.sql("select * from {}".format(table_name))
df = sf_df.to_pandas()

In [14]:
data = df[['PRODUCT_ID','ORDER_DATE','ORDER_QTY']]

In [15]:
data['ORDER_DATE']=pd.to_datetime(data['ORDER_DATE'])

In [16]:
data_grouped = data.groupby(['PRODUCT_ID',data['ORDER_DATE'].dt.to_period('M')]).agg(Total_Order_Qty=('ORDER_QTY','sum')).reset_index()

In [17]:
data_grouped['ORDER_MONTH']=data_grouped['ORDER_DATE'].dt.to_timestamp()

In [18]:
data_grouped = data_grouped[['PRODUCT_ID','ORDER_MONTH','Total_Order_Qty']]

In [19]:
data_grouped

       PRODUCT_ID ORDER_MONTH  Total_Order_Qty
0     Product_001  2019-01-01           148400
1     Product_001  2019-02-01           146650
2     Product_001  2019-03-01           133150
3     Product_001  2019-04-01           153600
4     Product_001  2019-05-01           154650
...           ...         ...              ...
2987  Product_100  2024-04-01            30200
2988  Product_100  2024-05-01            27850
2989  Product_100  2024-06-01            33200
2990  Product_100  2024-07-01            33300
2991  Product_100  2024-08-01            30700

[2992 rows x 3 columns]

In [20]:
data_grouped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2992 entries, 0 to 2991
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PRODUCT_ID       2992 non-null   object
 1   ORDER_MONTH      2992 non-null   datetime64[ns]
 2   Total_Order_Qty  2992 non-null   int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 70.2+ KB

In [21]:
data_grouped = data_grouped.set_index('ORDER_MONTH')

In [22]:
data_grouped.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2992 entries, 2019-01-01 to 2024-08-01
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PRODUCT_ID       2992 non-null   object
 1   Total_Order_Qty  2992 non-null   int64
dtypes: int64(1), object(1)
memory usage: 70.1+ KB

In [23]:
# Group data by 'product_id'
PID_grouped_data = data_grouped.groupby('PRODUCT_ID')

In [24]:
# Initialize an empty DataFrame for forecast results
test_results = pd.DataFrame(columns=['PRODUCT_ID','ORDER_MONTH', 'test_forecast_orders','rse', 'rmse','r2_score'])

In [25]:
# Initialize an empty DataFrame for forecast results
forecast_results = pd.DataFrame(columns=['PRODUCT_ID','ORDER_MONTH', 'forecast_order_qty'])

In [31]:
print(PID_grouped_data)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f0a2bc38b80>

In [41]:
for product_id, group in PID_grouped_data:
    # Sort data by order date
    group.sort_index(inplace=True)
    
    # Split data into train and test sets (80% train, 20% test)
    train_size = int(0.8 * len(group))
    train_data, test_data = group.iloc[:train_size], group.iloc[train_size:]

    
    
    # Create SARIMAX model
    model = SARIMAX(train_data['Total_Order_Qty'], order=(1, 1, 1), seasonal_order=(1, 1, 1, 12))
    model_fit = model.fit(disp=False)
    
    # Forecast the next period
    test_model = model_fit.get_forecast(steps=len(test_data))
    test_df = test_model.predicted_mean

    #print(f'test_df:{test_df.index}')
    
    # Calculate RMSE for order quantity
    #rmse_order_qty = np.sqrt(mean_squared_error(test_data['ORDER_QTY'], forecast_order_qty))
    
    # Evaluate the model
    rse = np.sqrt(((test_df - test_data) ** 2).sum().sum() / (test_data.shape[0] * test_data.shape[1] - len(model_fit.params)))
    rmse = np.sqrt(mean_squared_error(test_data['Total_Order_Qty'], test_df))
    r2 = r2_score(test_data['Total_Order_Qty'], test_df)

    
    date_list = test_df.index.to_list()
    

    
    #print(f"Order_date: {date_list}")    
    new_row = {
        'product_id': product_id,
        'order_date': date_list,
        'test_forecast_orders': test_df,
        'rse': rse,
        'rmse': rmse,
        'r2_score': r2
    }
    
    df_new = pd.DataFrame(new_row)

    df_new.index
    
    test_results=pd.concat([test_results,df_new],ignore_index=True)
    print(f'{test_results}')
    # Forecast future values
    forecast = model_fit.get_forecast(steps=25)#, steps=n_forecast)
    forecast_df = forecast.predicted_mean
    
    date_list2= forecast_df.index.to_list()
    
    new_row2 = {
        'product_id': product_id,
        'order_date': date_list2,
        'forecast_order_qty': forecast_df,
    }
    
    df_new2 = pd.DataFrame(new_row2)
    
    forecast_results=pd.concat([forecast_results,df_new2],ignore_index=True)

     PRODUCT_ID ORDER_MONTH  test_forecast_orders  rse          rmse  \
0           NaN         NaN         118823.028009  0.0  15697.565379
1           NaN         NaN         101123.262760  0.0  15697.565379
2           NaN         NaN         105282.149996  0.0  15697.565379
3           NaN         NaN         117745.845182  0.0  15697.565379
4           NaN         NaN         110611.593083  0.0  15697.565379
...         ...         ...                   ...  ...           ...
6169        NaN         NaN         122617.484315  0.0  15697.565379
6170        NaN         NaN         113678.212178  0.0  15697.565379
6171        NaN         NaN         122553.505870  0.0  15697.565379
6172        NaN         NaN         123281.759280  0.0  15697.565379
6173        NaN         NaN         106051.738107  0.0  15697.565379

      r2_score   product_id order_date
0     -0.05509  Product_001 2023-07-01
1     -0.05509  Product_001 2023-08-01
2     -0.05509  Product_001 2023-09-01
3     -0.05509  Product_001 2023-10-01
4     -0.05509  Product_001 2023-11-01
...        ...          ...        ...
6169  -0.05509  Product_001 2024-04-01
6170  -0.05509  Product_001 2024-05-01
6171  -0.05509  Product_001 2024-06-01
6172  -0.05509  Product_001 2024-07-01
6173  -0.05509  Product_001 2024-08-01

[6174 rows x 8 columns]
     PRODUCT_ID ORDER_MONTH  test_forecast_orders  rse          rmse  \
0           NaN         NaN         118823.028009  0.0  15697.565379
1           NaN         NaN         101123.262760  0.0  15697.565379
2           NaN         NaN         105282.149996  0.0  15697.565379
3           NaN         NaN         117745.845182  0.0  15697.565379
4           NaN         NaN         110611.593083  0.0  15697.565379
...         ...         ...                   ...  ...           ...
6183        NaN         NaN          75494.743748  0.0   8635.840218
6184        NaN         NaN          72261.376450  0.0   8635.840218
6185        NaN         NaN          74580.228566  0.0   8635.840218
6186        NaN         NaN          80385.385932  0.0   8635.840218
6187        NaN         NaN          66463.441620  0.0   8635.840218

      r2_score   product_id order_date
0    -0.055090  Product_001 2023-07-01
1    -0.055090  Product_001 2023-08-01
2    -0.055090  Product_001 2023-09-01
3    -0.055090  Product_001 2023-10-01
4    -0.055090  Product_001 2023-11-01
...        ...          ...        ...
6183  0.310731  Product_002 2024-04-01
6184  0.310731  Product_002 2024-05-01
6185  0.310731  Product_002 2024-06-01
6186  0.310731  Product_002 2024-07-01
6187  0.310731  Product_002 2024-08-01

[6188 rows x 8 columns]
     PRODUCT_ID ORDER_MONTH  test_forecast_orders  rse          rmse  \
0           NaN         NaN         118823.028009  0.0  15697.565379
1           NaN         NaN         101123.262760  0.0  15697.565379
2           NaN         NaN         105282.149996  0.0  15697.565379
3           NaN         NaN         117745.845182  0.0  15697.565379
4           NaN         NaN         110611.593083  0.0  15697.565379
...         ...         ...                   ...  ...           ...
6197        NaN         NaN          45165.209498  0.0   5657.870658
6198        NaN         NaN          38419.016735  0.0   5657.870658
6199        NaN         NaN          46741.758783  0.0   5657.870658
6200        NaN         NaN          46423.732650  0.0   5657.870658
6201        NaN         NaN          33312.273972  0.0   5657.870658

      r2_score   product_id order_date
0    -0.055090  Product_001 2023-07-01
1    -0.055090  Product_001 2023-08-01
2    -0.055090  Product_001 2023-09-01
3    -0.055090  Product_001 2023-10-01
4    -0.055090  Product_001 2023-11-01
...        ...          ...        ...
6197 -0.091632  Product_003 2024-04-01
6198 -0.091632  Product_003 2024-05-01
6199 -0.091632  Product_003 2024-06-01
6200 -0.091632  Product_003 2024-07-01
6201 -0.091632  Product_003 2024-08-01

[6202 rows x 8 columns]
     PRODUCT_ID ORDER_MONTH  test_forecast_orders  rse          rmse  \
0           NaN         NaN         118823.028009  0.0  15697.565379
1           NaN         NaN         101123.262760  0.0  15697.565379
2           NaN         NaN         105282.149996  0.0  15697.565379
3           NaN         NaN         117745.845182  0.0  15697.565379
4           NaN         NaN         110611.593083  0.0  15697.565379
...         ...         ...                   ...  ...           ...
6211        NaN         NaN          38299.708017  0.0  13460.088442
6212        NaN         NaN          27092.893751  0.0  13460.088442
6213        NaN         NaN          34646.233426  0.0  13460.088442
6214        NaN         NaN          35336.596995  0.0  13460.088442
6215        NaN         NaN          23860.547153  0.0  13460.088442

      r2_score   product_id order_date
0    -0.055090  Product_001 2023-07-01
1    -0.055090  Product_001 2023-08-01
2    -0.055090  Product_001 2023-09-01
3    -0.055090  Product_001 2023-10-01
4    -0.055090  Product_001 2023-11-01
...        ...          ...        ...
6211 -1.265111  Product_004 2024-04-01
6212 -1.265111  Product_004 2024-05-01
6213 -1.265111  Product_004 2024-06-01
6214 -1.265111  Product_004 2024-07-01
6215 -1.265111  Product_004 2024-08-01

[6216 rows x 8 columns]
     PRODUCT_ID ORDER_MONTH  test_forecast_orders  rse          rmse  \
0           NaN         NaN         118823.028009  0.0  15697.565379
1           NaN         NaN         101123.262760  0.0  15697.565379
2           NaN         NaN         105282.149996  0.0  15697.565379
3           NaN         NaN         117745.845182  0.0  15697.565379
4           NaN         NaN         110611.593083  0.0  15697.565379
...         ...         ...                   ...  ...           ...
6225        NaN         NaN          28302.582061  0.0   6202.608452
6226        NaN         NaN          25863.613936  0.0   6202.608452
6227        NaN         NaN          27386.416545  0.0   6202.608452
6228        NaN         NaN          30146.200018  0.0   6202.608452
6229        NaN         NaN          21279.194555  0.0   6202.608452

      r2_score   product_id order_date
0    -0.055090  Product_001 2023-07-01
1    -0.055090  Product_001 2023-08-01
2    -0.055090  Product_001 2023-09-01
3    -0.055090  Product_001 2023-10-01
4    -0.055090  Product_001 2023-11-01
...        ...          ...        ...
6225 -0.253285  Product_007 2024-04-01
6226 -0.253285  Product_007 2024-05-01
6227 -0.253285  Product_007 2024-06-01
6228 -0.253285  Product_007 2024-07-01
6229 -0.253285  Product_007 2024-08-01

[6230 rows x 8 columns]
     PRODUCT_ID ORDER_MONTH  test_forecast_orders  rse          rmse  \
0           NaN         NaN         118823.028009  0.0  15697.565379
1           NaN         NaN         101123.262760  0.0  15697.565379
2           NaN         NaN         105282.149996  0.0  15697.565379
3           NaN         NaN         117745.845182  0.0  15697.565379
4           NaN         NaN         110611.593083  0.0  15697.565379
...         ...         ...                   ...  ...           ...
6239        NaN         NaN          67616.868525  0.0   9073.301156
6240        NaN         NaN          70619.511905  0.0   9073.301156
6241        NaN         NaN          76633.016724  0.0   9073.301156
6242        NaN         NaN          80224.282385  0.0   9073.301156
6243        NaN         NaN          68531.350195  0.0   9073.301156

      r2_score   product_id order_date
0    -0.055090  Product_001 2023-07-01
1    -0.055090  Product_001 2023-08-01
2    -0.055090  Product_001 2023-09-01
3    -0.055090  Product_001 2023-10-01
4    -0.055090  Product_001 2023-11-01
...        ...          ...        ...
6239  0.408808  Product_010 2024-04-01
6240  0.408808  Product_010 2024-05-01
6241  0.408808  Product_010 2024-06-01
6242  0.408808  Product_010 2024-07-01
6243  0.408808  Product_010 2024-08-01

[6244 rows x 8 columns]
     PRODUCT_ID ORDER_MONTH  test_forecast_orders  rse          rmse  \
0           NaN         NaN         118823.028009  0.0  15697.565379
1           NaN         NaN         101123.262760  0.0  15697.565379
2           NaN         NaN         105282.149996  0.0  15697.565379
3           NaN         NaN         117745.845182  0.0  15697.565379
4           NaN         NaN         110611.593083  0.0  15697.565379
...         ...         ...                   ...  ...           ...
6253        NaN         NaN          59332.550685  0.0  10852.960481
6254        NaN         NaN          49969.054568  0.0  10852.960481
6255        NaN         NaN          55831.281557  0.0  10852.960481
6256        NaN         NaN          60161.815750  0.0  10852.960481
6257        NaN         NaN          50826.053592  0.0  10852.960481

      r2_score   product_id order_date
0     -0.05509  Product_001 2023-07-01
1     -0.05509  Product_001 2023-08-01
2     -0.05509  Product_001 2023-09-01
3     -0.05509  Product_001 2023-10-01
4     -0.05509  Product_001 2023-11-01
...        ...          ...        ...
6253   0.12231  Product_015 2024-04-01
6254   0.12231  Product_015 2024-05-01
6255   0.12231  Product_015 2024-06-01
6256   0.12231  Product_015 2024-07-01
6257   0.12231  Product_015 2024-08-01

[6258 rows x 8 columns]
     PRODUCT_ID ORDER_MONTH  test_forecast_orders  rse          rmse  \
0           NaN         NaN         118823.028009  0.0  15697.565379
1           NaN         NaN         101123.262760  0.0  15697.565379
2           NaN         NaN         105282.149996  0.0  15697.565379
3           NaN         NaN         117745.845182  0.0  15697.565379
4           NaN         NaN         110611.593083  0.0  15697.565379
...         ...         ...                   ...  ...           ...
6267        NaN         NaN          69941.311748  0.0  16038.934960
6268        NaN         NaN          55299.432746  0.0  16038.934960
6269        NaN         NaN          70425.084413  0.0  16038.934960
6270        NaN         NaN          92007.354380  0.0  16038.934960
6271        NaN         NaN          51602.838647  0.0  16038.934960

      r2_score   product_id order_date
0    -0.055090  Product_001 2023-07-01
1    -0.055090  Product_001 2023-08-01
2    -0.055090  Product_001 2023-09-01
3    -0.055090  Product_001 2023-10-01
4    -0.055090  Product_001 2023-11-01
...        ...          ...        ...
6267 -0.760735  Product_016 2024-04-01
6268 -0.760735  Product_016 2024-05-01
6269 -0.760735  Product_016 2024-06-01
6270 -0.760735  Product_016 2024-07-01
6271 -0.760735  Product_016 2024-08-01

[6272 rows x 8 columns]
     PRODUCT_ID ORDER_MONTH  test_forecast_orders  rse          rmse  \
0           NaN         NaN         118823.028009  0.0  15697.565379
1           NaN         NaN         101123.262760  0.0  15697.565379
2           NaN         NaN         105282.149996  0.0  15697.565379
3           NaN         NaN         117745.845182  0.0  15697.565379
4           NaN         NaN         110611.593083  0.0  15697.565379
...         ...         ...                   ...  ...           ...
6281        NaN         NaN          62338.997883  0.0  17672.144854
6282        NaN         NaN          48737.834732  0.0  17672.144854
6283        NaN         NaN          56994.220102  0.0  17672.144854
6284        NaN         NaN          62370.420977  0.0  17672.144854
6285        NaN         NaN          50110.799515  0.0  17672.144854

      r2_score   product_id order_date
0    -0.055090  Product_001 2023-07-01
1    -0.055090  Product_001 2023-08-01
2    -0.055090  Product_001 2023-09-01
3    -0.055090  Product_001 2023-10-01
4    -0.055090  Product_001 2023-11-01
...        ...          ...        ...
6281 -0.094872  Product_019 2024-04-01
6282 -0.094872  Product_019 2024-05-01
6283 -0.094872  Product_019 2024-06-01
6284 -0.094872  Product_019 2024-07-01
6285 -0.094872  Product_019 2024-08-01

[6286 rows x 8 columns]
     PRODUCT_ID ORDER_MONTH  test_forecast_orders  rse          rmse  \
0           NaN         NaN         118823.028009  0.0  15697.565379
1           NaN         NaN         101123.262760  0.0  15697.565379
2           NaN         NaN         105282.149996  0.0  15697.565379
3           NaN         NaN         117745.845182  0.0  15697.565379
4           NaN         NaN         110611.593083  0.0  15697.565379
...         ...         ...                   ...  ...           ...
6295        NaN         NaN          77388.256152  0.0  12735.624648
6296        NaN         NaN          70875.393050  0.0  12735.624648
6297        NaN         NaN          74337.667231  0.0  12735.624648
6298        NaN         NaN          88385.921461  0.0  12735.624648
6299        NaN         NaN          62819.558952  0.0  12735.624648

      r2_score   product_id order_date
0    -0.055090  Product_001 2023-07-01
1    -0.055090  Product_001 2023-08-01
2    -0.055090  Product_001 2023-09-01
3    -0.055090  Product_001 2023-10-01
4    -0.055090  Product_001 2023-11-01
...        ...          ...        ...
6295 -0.851232  Product_023 2024-04-01
6296 -0.851232  Product_023 2024-05-01
6297 -0.851232  Product_023 2024-06-01
6298 -0.851232  Product_023 2024-07-01
6299 -0.851232  Product_023 2024-08-01

[6300 rows x 8 columns]
     PRODUCT_ID ORDER_MONTH  test_forecast_orders  rse          rmse  \
0           NaN         NaN         118823.028009  0.0  15697.565379
1           NaN         NaN         101123.262760  0.0  15697.565379
2           NaN         NaN         105282.149996  0.0  15697.565379
3           NaN         NaN         117745.845182  0.0  15697.565379
4           NaN         NaN         110611.593083  0.0  15697.565379
...         ...         ...                   ...  ...           ...
6309        NaN         NaN          30148.967578  0.0   4622.020383
6310        NaN         NaN          28974.387489  0.0   4622.020383
6311        NaN         NaN          31805.749489  0.0   4622.020383
6312        NaN         NaN          32479.236717  0.0   4622.020383
6313        NaN         NaN          31885.989699  0.0   4622.020383

      r2_score   product_id order_date
0    -0.055090  Product_001 2023-07-01
1    -0.055090  Product_001 2023-08-01
2    -0.055090  Product_001 2023-09-01
3    -0.055090  Product_001 2023-10-01
4    -0.055090  Product_001 2023-11-01
...        ...          ...        ...
6309 -0.701711  Product_047 2024-04-01
6310 -0.701711  Product_047 2024-05-01
6311 -0.701711  Product_047 2024-06-01
6312 -0.701711  Product_047 2024-07-01
6313 -0.701711  Product_047 2024-08-01

[6314 rows x 8 columns]
     PRODUCT_ID ORDER_MONTH  test_forecast_orders  rse          rmse  \
0           NaN         NaN         118823.028009  0.0  15697.565379
1           NaN         NaN         101123.262760  0.0  15697.565379
2           NaN         NaN         105282.149996  0.0  15697.565379
3           NaN         NaN         117745.845182  0.0  15697.565379
4           NaN         NaN         110611.593083  0.0  15697.565379
...         ...         ...                   ...  ...           ...
6323        NaN         NaN          30974.105892  0.0   7432.016283
6324        NaN         NaN          28845.391536  0.0   7432.016283
6325        NaN         NaN          26624.316923  0.0   7432.016283
6326        NaN         NaN          35919.812104  0.0   7432.016283
6327        NaN         NaN          22595.690089  0.0   7432.016283

      r2_score   product_id order_date
0    -0.055090  Product_001 2023-07-01
1    -0.055090  Product_001 2023-08-01
2    -0.055090  Product_001 2023-09-01
3    -0.055090  Product_001 2023-10-01
4    -0.055090  Product_001 2023-11-01
...        ...          ...        ...
6323 -0.810661  Product_057 2024-04-01
6324 -0.810661  Product_057 2024-05-01
6325 -0.810661  Product_057 2024-06-01
6326 -0.810661  Product_057 2024-07-01
6327 -0.810661  Product_057 2024-08-01

[6328 rows x 8 columns]
     PRODUCT_ID ORDER_MONTH  test_forecast_orders  rse          rmse  \
0           NaN         NaN         118823.028009  0.0  15697.565379
1           NaN         NaN         101123.262760  0.0  15697.565379
2           NaN         NaN         105282.149996  0.0  15697.565379
3           NaN         NaN         117745.845182  0.0  15697.565379
4           NaN         NaN         110611.593083  0.0  15697.565379
...         ...         ...                   ...  ...           ...
6337        NaN         NaN          23213.656378  0.0   7412.917842
6338        NaN         NaN          18234.460095  0.0   7412.917842
6339        NaN         NaN          23769.908730  0.0   7412.917842
6340        NaN         NaN          22803.213106  0.0   7412.917842
6341        NaN         NaN          18836.363660  0.0   7412.917842

      r2_score   product_id order_date
0    -0.055090  Product_001 2023-07-01
1    -0.055090  Product_001 2023-08-01
2    -0.055090  Product_001 2023-09-01
3    -0.055090  Product_001 2023-10-01
4    -0.055090  Product_001 2023-11-01
...        ...          ...        ...
6337 -2.700831  Product_059 2024-04-01
6338 -2.700831  Product_059 2024-05-01
6339 -2.700831  Product_059 2024-06-01
6340 -2.700831  Product_059 2024-07-01
6341 -2.700831  Product_059 2024-08-01

[6342 rows x 8 columns]
     PRODUCT_ID ORDER_MONTH  test_forecast_orders  rse          rmse  \
0           NaN         NaN         118823.028009  0.0  15697.565379
1           NaN         NaN         101123.262760  0.0  15697.565379
2           NaN         NaN         105282.149996  0.0  15697.565379
3           NaN         NaN         117745.845182  0.0  15697.565379
4           NaN         NaN         110611.593083  0.0  15697.565379
...         ...         ...                   ...  ...           ...
6351        NaN         NaN          23840.442885  0.0   6524.867764
6352        NaN         NaN          23433.587357  0.0   6524.867764
6353        NaN         NaN          19664.068906  0.0   6524.867764
6354        NaN         NaN          27040.606109  0.0   6524.867764
6355        NaN         NaN          15019.875066  0.0   6524.867764

      r2_score   product_id order_date
0    -0.055090  Product_001 2023-07-01
1    -0.055090  Product_001 2023-08-01
2    -0.055090  Product_001 2023-09-01
3    -0.055090  Product_001 2023-10-01
4    -0.055090  Product_001 2023-11-01
...        ...          ...        ...
6351 -4.394536  Product_060 2024-04-01
6352 -4.394536  Product_060 2024-05-01
6353 -4.394536  Product_060 2024-06-01
6354 -4.394536  Product_060 2024-07-01
6355 -4.394536  Product_060 2024-08-01

[6356 rows x 8 columns]
     PRODUCT_ID ORDER_MONTH  test_forecast_orders  rse          rmse  \
0           NaN         NaN         118823.028009  0.0  15697.565379
1           NaN         NaN         101123.262760  0.0  15697.565379
2           NaN         NaN         105282.149996  0.0  15697.565379
3           NaN         NaN         117745.845182  0.0  15697.565379
4           NaN         NaN         110611.593083  0.0  15697.565379
...         ...         ...                   ...  ...           ...
6365        NaN         NaN          26170.533168  0.0   7061.772430
6366        NaN         NaN          19578.489618  0.0   7061.772430
6367        NaN         NaN          24468.736140  0.0   7061.772430
6368        NaN         NaN          28508.266104  0.0   7061.772430
6369        NaN         NaN          23323.942050  0.0   7061.772430

      r2_score   product_id order_date
0    -0.055090  Product_001 2023-07-01
1    -0.055090  Product_001 2023-08-01
2    -0.055090  Product_001 2023-09-01
3    -0.055090  Product_001 2023-10-01
4    -0.055090  Product_001 2023-11-01
...        ...          ...        ...
6365 -1.219454  Product_061 2024-04-01
6366 -1.219454  Product_061 2024-05-01
6367 -1.219454  Product_061 2024-06-01
6368 -1.219454  Product_061 2024-07-01
6369 -1.219454  Product_061 2024-08-01

[6370 rows x 8 columns]
     PRODUCT_ID ORDER_MONTH  test_forecast_orders  rse          rmse  \