In [11]:
!pip install statsmodels

Requirement already satisfied: statsmodels in /opt/conda/lib/python3.9/site-packages (0.14.3)
Requirement already satisfied: pandas!=2.1.0,>=1.4 in /opt/conda/lib/python3.9/site-packages (from statsmodels) (2.2.0)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in /opt/conda/lib/python3.9/site-packages (from statsmodels) (1.13.1)
Requirement already satisfied: numpy<3,>=1.22.3 in /opt/conda/lib/python3.9/site-packages (from statsmodels) (1.26.4)
Requirement already satisfied: packaging>=21.3 in /opt/conda/lib/python3.9/site-packages (from statsmodels) (23.2)
Requirement already satisfied: patsy>=0.5.6 in /opt/conda/lib/python3.9/site-packages (from statsmodels) (0.5.6)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.9/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2024.1)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.9/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.9/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.9.0.post0)
Requirement already satisfied: six in /opt/conda/lib/python3.9/site-packages (from patsy>=0.5.6->statsmodels) (1.16.0)
WARNING: You are using pip version 19.3.1; however, version 24.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [12]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.tsa.statespace.sarimax import SARIMAX
from sklearn.metrics import mean_squared_error, r2_score

In [13]:
from fosforml.model_manager.snowflakesession import get_session
my_session = get_session()
 
table_name = '"FACT_CUSTOMER_ORDERS"'
 
sf_df = my_session.sql("select * from {}".format(table_name))
df = sf_df.to_pandas()

In [14]:
data = df[['PRODUCT_ID','ORDER_DATE','ORDER_QTY']]

In [15]:
data['ORDER_DATE']=pd.to_datetime(data['ORDER_DATE'])

In [16]:
data_grouped = data.groupby(['PRODUCT_ID',data['ORDER_DATE'].dt.to_period('M')]).agg(Total_Order_Qty=('ORDER_QTY','sum')).reset_index()

In [17]:
data_grouped['ORDER_MONTH']=data_grouped['ORDER_DATE'].dt.to_timestamp()

In [18]:
data_grouped = data_grouped[['PRODUCT_ID','ORDER_MONTH','Total_Order_Qty']]

In [19]:
data_grouped

       PRODUCT_ID ORDER_MONTH  Total_Order_Qty
0     Product_001  2019-01-01           148400
1     Product_001  2019-02-01           146650
2     Product_001  2019-03-01           133150
3     Product_001  2019-04-01           153600
4     Product_001  2019-05-01           154650
...           ...         ...              ...
2987  Product_100  2024-04-01            30200
2988  Product_100  2024-05-01            27850
2989  Product_100  2024-06-01            33200
2990  Product_100  2024-07-01            33300
2991  Product_100  2024-08-01            30700

[2992 rows x 3 columns]

In [20]:
data_grouped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2992 entries, 0 to 2991
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PRODUCT_ID       2992 non-null   object
 1   ORDER_MONTH      2992 non-null   datetime64[ns]
 2   Total_Order_Qty  2992 non-null   int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 70.2+ KB

In [21]:
data_grouped = data_grouped.set_index('ORDER_MONTH')

In [22]:
data_grouped.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2992 entries, 2019-01-01 to 2024-08-01
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PRODUCT_ID       2992 non-null   object
 1   Total_Order_Qty  2992 non-null   int64
dtypes: int64(1), object(1)
memory usage: 70.1+ KB

In [47]:
ORD_grouped_data = data_grouped.groupby('ORDER_MONTH')

In [48]:
ORD_grouped_data

In [23]:
# Group data by 'product_id'
PID_grouped_data = data_grouped.groupby('PRODUCT_ID')

In [42]:
# Initialize an empty DataFrame for forecast results
test_results = pd.DataFrame(columns=['PRODUCT_ID','ORDER_MONTH', 'test_forecast_orders','rse', 'rmse','r2_score'])
test_results.set_index('ORDER_MONTH')

Empty DataFrame
Columns: [PRODUCT_ID, test_forecast_orders, rse, rmse, r2_score]
Index: []

In [43]:
# Initialize an empty DataFrame for forecast results
forecast_results = pd.DataFrame(columns=['PRODUCT_ID','ORDER_MONTH', 'forecast_order_qty'])
forecast_results.set_index('ORDER_MONTH')

Empty DataFrame
Columns: [PRODUCT_ID, forecast_order_qty]
Index: []

In [31]:
print(PID_grouped_data)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f0a2bc38b80>

In [46]:
for product_id, group in PID_grouped_data:
    # Sort data by order date
    group.sort_index(inplace=True)
    
    # Split data into train and test sets (80% train, 20% test)
    train_size = int(0.8 * len(group))
    train_data, test_data = group.iloc[:train_size], group.iloc[train_size:]

    
    
    # Create SARIMAX model
    model = SARIMAX(train_data['Total_Order_Qty'], order=(1, 1, 1), seasonal_order=(1, 1, 1, 12))
    model_fit = model.fit(disp=False)
    
    # Forecast the next period
    test_model = model_fit.get_forecast(steps=len(test_data))
    test_df = test_model.predicted_mean

    #print(f'test_df:{test_df.index}')
    
    # Calculate RMSE for order quantity
    #rmse_order_qty = np.sqrt(mean_squared_error(test_data['ORDER_QTY'], forecast_order_qty))
    
    # Evaluate the model
    rse = np.sqrt(((test_df - test_data) ** 2).sum().sum() / (test_data.shape[0] * test_data.shape[1] - len(model_fit.params)))
    rmse = np.sqrt(mean_squared_error(test_data['Total_Order_Qty'], test_df))
    r2 = r2_score(test_data['Total_Order_Qty'], test_df)

    
    date_list = test_df.index.to_list()
    

    
    #print(f"Order_date: {date_list}")    
    new_row = {
        'PRODUCT_ID': product_id,
        'ORDER_MONTH': date_list,
        'test_forecast_orders': test_df,
        'rse': rse,
        'rmse': rmse,
        'r2_score': r2
    }
    
    df_new = pd.DataFrame(new_row)

    df_new.set_index('ORDER_MONTH')
    
    test_results=pd.concat([test_results,df_new],ignore_index=True)
    print(f'{test_results}')
    # Forecast future values
    forecast = model_fit.get_forecast(steps=25)#, steps=n_forecast)
    forecast_df = forecast.predicted_mean
    
    date_list2= forecast_df.index.to_list()
    
    new_row2 = {
        'product_id': product_id,
        'order_date': date_list2,
        'forecast_order_qty': forecast_df,
    }
    
    df_new2 = pd.DataFrame(new_row2)
    
    forecast_results=pd.concat([forecast_results,df_new2],ignore_index=True)

      PRODUCT_ID ORDER_MONTH  test_forecast_orders  rse          rmse  \
0            NaN         NaT         118823.028009  0.0  15697.565379
1            NaN         NaT         101123.262760  0.0  15697.565379
2            NaN         NaT         105282.149996  0.0  15697.565379
3            NaN         NaT         117745.845182  0.0  15697.565379
4            NaN         NaT         110611.593083  0.0  15697.565379
..           ...         ...                   ...  ...           ...
625  Product_001  2024-04-01         122617.484315  0.0  15697.565379
626  Product_001  2024-05-01         113678.212178  0.0  15697.565379
627  Product_001  2024-06-01         122553.505870  0.0  15697.565379
628  Product_001  2024-07-01         123281.759280  0.0  15697.565379
629  Product_001  2024-08-01         106051.738107  0.0  15697.565379

     r2_score   product_id order_month
0    -0.05509  Product_001  2023-07-01
1    -0.05509  Product_001  2023-08-01
2    -0.05509  Product_001  2023-09-01
3    -0.05509  Product_001  2023-10-01
4    -0.05509  Product_001  2023-11-01
..        ...          ...         ...
625  -0.05509          NaN         NaT
626  -0.05509          NaN         NaT
627  -0.05509          NaN         NaT
628  -0.05509          NaN         NaT
629  -0.05509          NaN         NaT

[630 rows x 8 columns]
      PRODUCT_ID ORDER_MONTH  test_forecast_orders  rse          rmse  \
0            NaN         NaT         118823.028009  0.0  15697.565379
1            NaN         NaT         101123.262760  0.0  15697.565379
2            NaN         NaT         105282.149996  0.0  15697.565379
3            NaN         NaT         117745.845182  0.0  15697.565379
4            NaN         NaT         110611.593083  0.0  15697.565379
..           ...         ...                   ...  ...           ...
639  Product_002  2024-04-01          75494.743748  0.0   8635.840218
640  Product_002  2024-05-01          72261.376450  0.0   8635.840218
641  Product_002  2024-06-01          74580.228566  0.0   8635.840218
642  Product_002  2024-07-01          80385.385932  0.0   8635.840218
643  Product_002  2024-08-01          66463.441620  0.0   8635.840218

     r2_score   product_id order_month
0   -0.055090  Product_001  2023-07-01
1   -0.055090  Product_001  2023-08-01
2   -0.055090  Product_001  2023-09-01
3   -0.055090  Product_001  2023-10-01
4   -0.055090  Product_001  2023-11-01
..        ...          ...         ...
639  0.310731          NaN         NaT
640  0.310731          NaN         NaT
641  0.310731          NaN         NaT
642  0.310731          NaN         NaT
643  0.310731          NaN         NaT

[644 rows x 8 columns]
      PRODUCT_ID ORDER_MONTH  test_forecast_orders  rse          rmse  \
0            NaN         NaT         118823.028009  0.0  15697.565379
1            NaN         NaT         101123.262760  0.0  15697.565379
2            NaN         NaT         105282.149996  0.0  15697.565379
3            NaN         NaT         117745.845182  0.0  15697.565379
4            NaN         NaT         110611.593083  0.0  15697.565379
..           ...         ...                   ...  ...           ...
653  Product_003  2024-04-01          45165.209498  0.0   5657.870658
654  Product_003  2024-05-01          38419.016735  0.0   5657.870658
655  Product_003  2024-06-01          46741.758783  0.0   5657.870658
656  Product_003  2024-07-01          46423.732650  0.0   5657.870658
657  Product_003  2024-08-01          33312.273972  0.0   5657.870658

     r2_score   product_id order_month
0   -0.055090  Product_001  2023-07-01
1   -0.055090  Product_001  2023-08-01
2   -0.055090  Product_001  2023-09-01
3   -0.055090  Product_001  2023-10-01
4   -0.055090  Product_001  2023-11-01
..        ...          ...         ...
653 -0.091632          NaN         NaT
654 -0.091632          NaN         NaT
655 -0.091632          NaN         NaT
656 -0.091632          NaN         NaT
657 -0.091632          NaN         NaT

[658 rows x 8 columns]
      PRODUCT_ID ORDER_MONTH  test_forecast_orders  rse          rmse  \
0            NaN         NaT         118823.028009  0.0  15697.565379
1            NaN         NaT         101123.262760  0.0  15697.565379
2            NaN         NaT         105282.149996  0.0  15697.565379
3            NaN         NaT         117745.845182  0.0  15697.565379
4            NaN         NaT         110611.593083  0.0  15697.565379
..           ...         ...                   ...  ...           ...
667  Product_004  2024-04-01          38299.708017  0.0  13460.088442
668  Product_004  2024-05-01          27092.893751  0.0  13460.088442
669  Product_004  2024-06-01          34646.233426  0.0  13460.088442
670  Product_004  2024-07-01          35336.596995  0.0  13460.088442
671  Product_004  2024-08-01          23860.547153  0.0  13460.088442

     r2_score   product_id order_month
0   -0.055090  Product_001  2023-07-01
1   -0.055090  Product_001  2023-08-01
2   -0.055090  Product_001  2023-09-01
3   -0.055090  Product_001  2023-10-01
4   -0.055090  Product_001  2023-11-01
..        ...          ...         ...
667 -1.265111          NaN         NaT
668 -1.265111          NaN         NaT
669 -1.265111          NaN         NaT
670 -1.265111          NaN         NaT
671 -1.265111          NaN         NaT

[672 rows x 8 columns]
      PRODUCT_ID ORDER_MONTH  test_forecast_orders  rse          rmse  \
0            NaN         NaT         118823.028009  0.0  15697.565379
1            NaN         NaT         101123.262760  0.0  15697.565379
2            NaN         NaT         105282.149996  0.0  15697.565379
3            NaN         NaT         117745.845182  0.0  15697.565379
4            NaN         NaT         110611.593083  0.0  15697.565379
..           ...         ...                   ...  ...           ...
681  Product_007  2024-04-01          28302.582061  0.0   6202.608452
682  Product_007  2024-05-01          25863.613936  0.0   6202.608452
683  Product_007  2024-06-01          27386.416545  0.0   6202.608452
684  Product_007  2024-07-01          30146.200018  0.0   6202.608452
685  Product_007  2024-08-01          21279.194555  0.0   6202.608452

     r2_score   product_id order_month
0   -0.055090  Product_001  2023-07-01
1   -0.055090  Product_001  2023-08-01
2   -0.055090  Product_001  2023-09-01
3   -0.055090  Product_001  2023-10-01
4   -0.055090  Product_001  2023-11-01
..        ...          ...         ...
681 -0.253285          NaN         NaT
682 -0.253285          NaN         NaT
683 -0.253285          NaN         NaT
684 -0.253285          NaN         NaT
685 -0.253285          NaN         NaT

[686 rows x 8 columns]
      PRODUCT_ID ORDER_MONTH  test_forecast_orders  rse          rmse  \
0            NaN         NaT         118823.028009  0.0  15697.565379
1            NaN         NaT         101123.262760  0.0  15697.565379
2            NaN         NaT         105282.149996  0.0  15697.565379
3            NaN         NaT         117745.845182  0.0  15697.565379
4            NaN         NaT         110611.593083  0.0  15697.565379
..           ...         ...                   ...  ...           ...
695  Product_010  2024-04-01          67616.868525  0.0   9073.301156
696  Product_010  2024-05-01          70619.511905  0.0   9073.301156
697  Product_010  2024-06-01          76633.016724  0.0   9073.301156
698  Product_010  2024-07-01          80224.282385  0.0   9073.301156
699  Product_010  2024-08-01          68531.350195  0.0   9073.301156

     r2_score   product_id order_month
0   -0.055090  Product_001  2023-07-01
1   -0.055090  Product_001  2023-08-01
2   -0.055090  Product_001  2023-09-01
3   -0.055090  Product_001  2023-10-01
4   -0.055090  Product_001  2023-11-01
..        ...          ...         ...
695  0.408808          NaN         NaT
696  0.408808          NaN         NaT
697  0.408808          NaN         NaT
698  0.408808          NaN         NaT
699  0.408808          NaN         NaT

[700 rows x 8 columns]
      PRODUCT_ID ORDER_MONTH  test_forecast_orders  rse          rmse  \
0            NaN         NaT         118823.028009  0.0  15697.565379
1            NaN         NaT         101123.262760  0.0  15697.565379
2            NaN         NaT         105282.149996  0.0  15697.565379
3            NaN         NaT         117745.845182  0.0  15697.565379
4            NaN         NaT         110611.593083  0.0  15697.565379
..           ...         ...                   ...  ...           ...
709  Product_015  2024-04-01          59332.550685  0.0  10852.960481
710  Product_015  2024-05-01          49969.054568  0.0  10852.960481
711  Product_015  2024-06-01          55831.281557  0.0  10852.960481
712  Product_015  2024-07-01          60161.815750  0.0  10852.960481
713  Product_015  2024-08-01          50826.053592  0.0  10852.960481

     r2_score   product_id order_month
0    -0.05509  Product_001  2023-07-01
1    -0.05509  Product_001  2023-08-01
2    -0.05509  Product_001  2023-09-01
3    -0.05509  Product_001  2023-10-01
4    -0.05509  Product_001  2023-11-01
..        ...          ...         ...
709   0.12231          NaN         NaT
710   0.12231          NaN         NaT
711   0.12231          NaN         NaT
712   0.12231          NaN         NaT
713   0.12231          NaN         NaT

[714 rows x 8 columns]
      PRODUCT_ID ORDER_MONTH  test_forecast_orders  rse          rmse  \
0            NaN         NaT         118823.028009  0.0  15697.565379
1            NaN         NaT         101123.262760  0.0  15697.565379
2            NaN         NaT         105282.149996  0.0  15697.565379
3            NaN         NaT         117745.845182  0.0  15697.565379
4            NaN         NaT         110611.593083  0.0  15697.565379
..           ...         ...                   ...  ...           ...
723  Product_016  2024-04-01          69941.311748  0.0  16038.934960
724  Product_016  2024-05-01          55299.432746  0.0  16038.934960
725  Product_016  2024-06-01          70425.084413  0.0  16038.934960
726  Product_016  2024-07-01          92007.354380  0.0  16038.934960
727  Product_016  2024-08-01          51602.838647  0.0  16038.934960

     r2_score   product_id order_month
0   -0.055090  Product_001  2023-07-01
1   -0.055090  Product_001  2023-08-01
2   -0.055090  Product_001  2023-09-01
3   -0.055090  Product_001  2023-10-01
4   -0.055090  Product_001  2023-11-01
..        ...          ...         ...
723 -0.760735          NaN         NaT
724 -0.760735          NaN         NaT
725 -0.760735          NaN         NaT
726 -0.760735          NaN         NaT
727 -0.760735          NaN         NaT

[728 rows x 8 columns]
      PRODUCT_ID ORDER_MONTH  test_forecast_orders  rse          rmse  \
0            NaN         NaT         118823.028009  0.0  15697.565379
1            NaN         NaT         101123.262760  0.0  15697.565379
2            NaN         NaT         105282.149996  0.0  15697.565379
3            NaN         NaT         117745.845182  0.0  15697.565379
4            NaN         NaT         110611.593083  0.0  15697.565379
..           ...         ...                   ...  ...           ...
737  Product_019  2024-04-01          62338.997883  0.0  17672.144854
738  Product_019  2024-05-01          48737.834732  0.0  17672.144854
739  Product_019  2024-06-01          56994.220102  0.0  17672.144854
740  Product_019  2024-07-01          62370.420977  0.0  17672.144854
741  Product_019  2024-08-01          50110.799515  0.0  17672.144854

     r2_score   product_id order_month
0   -0.055090  Product_001  2023-07-01
1   -0.055090  Product_001  2023-08-01
2   -0.055090  Product_001  2023-09-01
3   -0.055090  Product_001  2023-10-01
4   -0.055090  Product_001  2023-11-01
..        ...          ...         ...
737 -0.094872          NaN         NaT
738 -0.094872          NaN         NaT
739 -0.094872          NaN         NaT
740 -0.094872          NaN         NaT
741 -0.094872          NaN         NaT

[742 rows x 8 columns]
      PRODUCT_ID ORDER_MONTH  test_forecast_orders  rse          rmse  \
0            NaN         NaT         118823.028009  0.0  15697.565379
1            NaN         NaT         101123.262760  0.0  15697.565379
2            NaN         NaT         105282.149996  0.0  15697.565379
3            NaN         NaT         117745.845182  0.0  15697.565379
4            NaN         NaT         110611.593083  0.0  15697.565379
..           ...         ...                   ...  ...           ...
751  Product_023  2024-04-01          77388.256152  0.0  12735.624648
752  Product_023  2024-05-01          70875.393050  0.0  12735.624648
753  Product_023  2024-06-01          74337.667231  0.0  12735.624648
754  Product_023  2024-07-01          88385.921461  0.0  12735.624648
755  Product_023  2024-08-01          62819.558952  0.0  12735.624648

     r2_score   product_id order_month
0   -0.055090  Product_001  2023-07-01
1   -0.055090  Product_001  2023-08-01
2   -0.055090  Product_001  2023-09-01
3   -0.055090  Product_001  2023-10-01
4   -0.055090  Product_001  2023-11-01
..        ...          ...         ...
751 -0.851232          NaN         NaT
752 -0.851232          NaN         NaT
753 -0.851232          NaN         NaT
754 -0.851232          NaN         NaT
755 -0.851232          NaN         NaT

[756 rows x 8 columns]
      PRODUCT_ID ORDER_MONTH  test_forecast_orders  rse          rmse  \
0            NaN         NaT         118823.028009  0.0  15697.565379
1            NaN         NaT         101123.262760  0.0  15697.565379
2            NaN         NaT         105282.149996  0.0  15697.565379
3            NaN         NaT         117745.845182  0.0  15697.565379
4            NaN         NaT         110611.593083  0.0  15697.565379
..           ...         ...                   ...  ...           ...
765  Product_047  2024-04-01          30148.967578  0.0   4622.020383
766  Product_047  2024-05-01          28974.387489  0.0   4622.020383
767  Product_047  2024-06-01          31805.749489  0.0   4622.020383
768  Product_047  2024-07-01          32479.236717  0.0   4622.020383
769  Product_047  2024-08-01          31885.989699  0.0   4622.020383

     r2_score   product_id order_month
0   -0.055090  Product_001  2023-07-01
1   -0.055090  Product_001  2023-08-01
2   -0.055090  Product_001  2023-09-01
3   -0.055090  Product_001  2023-10-01
4   -0.055090  Product_001  2023-11-01
..        ...          ...         ...
765 -0.701711          NaN         NaT
766 -0.701711          NaN         NaT
767 -0.701711          NaN         NaT
768 -0.701711          NaN         NaT
769 -0.701711          NaN         NaT

[770 rows x 8 columns]
      PRODUCT_ID ORDER_MONTH  test_forecast_orders  rse          rmse  \
0            NaN         NaT         118823.028009  0.0  15697.565379
1            NaN         NaT         101123.262760  0.0  15697.565379
2            NaN         NaT         105282.149996  0.0  15697.565379
3            NaN         NaT         117745.845182  0.0  15697.565379
4            NaN         NaT         110611.593083  0.0  15697.565379
..           ...         ...                   ...  ...           ...
779  Product_057  2024-04-01          30974.105892  0.0   7432.016283
780  Product_057  2024-05-01          28845.391536  0.0   7432.016283
781  Product_057  2024-06-01          26624.316923  0.0   7432.016283
782  Product_057  2024-07-01          35919.812104  0.0   7432.016283
783  Product_057  2024-08-01          22595.690089  0.0   7432.016283

     r2_score   product_id order_month
0   -0.055090  Product_001  2023-07-01
1   -0.055090  Product_001  2023-08-01
2   -0.055090  Product_001  2023-09-01
3   -0.055090  Product_001  2023-10-01
4   -0.055090  Product_001  2023-11-01
..        ...          ...         ...
779 -0.810661          NaN         NaT
780 -0.810661          NaN         NaT
781 -0.810661          NaN         NaT
782 -0.810661          NaN         NaT
783 -0.810661          NaN         NaT

[784 rows x 8 columns]
      PRODUCT_ID ORDER_MONTH  test_forecast_orders  rse          rmse  \
0            NaN         NaT         118823.028009  0.0  15697.565379
1            NaN         NaT         101123.262760  0.0  15697.565379
2            NaN         NaT         105282.149996  0.0  15697.565379
3            NaN         NaT         117745.845182  0.0  15697.565379
4            NaN         NaT         110611.593083  0.0  15697.565379
..           ...         ...                   ...  ...           ...
793  Product_059  2024-04-01          23213.656378  0.0   7412.917842
794  Product_059  2024-05-01          18234.460095  0.0   7412.917842
795  Product_059  2024-06-01          23769.908730  0.0   7412.917842
796  Product_059  2024-07-01          22803.213106  0.0   7412.917842
797  Product_059  2024-08-01          18836.363660  0.0   7412.917842

     r2_score   product_id order_month
0   -0.055090  Product_001  2023-07-01
1   -0.055090  Product_001  2023-08-01
2   -0.055090  Product_001  2023-09-01
3   -0.055090  Product_001  2023-10-01
4   -0.055090  Product_001  2023-11-01
..        ...          ...         ...
793 -2.700831          NaN         NaT
794 -2.700831          NaN         NaT
795 -2.700831          NaN         NaT
796 -2.700831          NaN         NaT
797 -2.700831          NaN         NaT

[798 rows x 8 columns]
      PRODUCT_ID ORDER_MONTH  test_forecast_orders  rse          rmse  \
0            NaN         NaT         118823.028009  0.0  15697.565379
1            NaN         NaT         101123.262760  0.0  15697.565379
2            NaN         NaT         105282.149996  0.0  15697.565379
3            NaN         NaT         117745.845182  0.0  15697.565379
4            NaN         NaT         110611.593083  0.0  15697.565379
..           ...         ...                   ...  ...           ...
807  Product_060  2024-04-01          23840.442885  0.0   6524.867764
808  Product_060  2024-05-01          23433.587357  0.0   6524.867764
809  Product_060  2024-06-01          19664.068906  0.0   6524.867764
810  Product_060  2024-07-01          27040.606109  0.0   6524.867764
811  Product_060  2024-08-01          15019.875066  0.0   6524.867764

     r2_score   product_id order_month
0   -0.055090  Product_001  2023-07-01
1   -0.055090  Product_001  2023-08-01
2   -0.055090  Product_001  2023-09-01
3   -0.055090  Product_001  2023-10-01
4   -0.055090  Product_001  2023-11-01
..        ...          ...         ...
807 -4.394536          NaN         NaT
808 -4.394536          NaN         NaT
809 -4.394536          NaN         NaT
810 -4.394536          NaN         NaT
811 -4.394536          NaN         NaT

[812 rows x 8 columns]
      PRODUCT_ID ORDER_MONTH  test_forecast_orders  rse          rmse  \
0            NaN         NaT         118823.028009  0.0  15697.565379
1            NaN         NaT         101123.262760  0.0  15697.565379
2            NaN         NaT         105282.149996  0.0  15697.565379
3            NaN         NaT         117745.845182  0.0  15697.565379
4            NaN         NaT         110611.593083  0.0  15697.565379
..           ...         ...                   ...  ...           ...
821  Product_061  2024-04-01          26170.533168  0.0   7061.772430
822  Product_061  2024-05-01          19578.489618  0.0   7061.772430
823  Product_061  2024-06-01          24468.736140  0.0   7061.772430
824  Product_061  2024-07-01          28508.266104  0.0   7061.772430
825  Product_061  2024-08-01          23323.942050  0.0   7061.772430

     r2_score   product_id order_month
0   -0.055090  Product_001  2023-07-01
1   -0.055090  Product_001  2023-08-01
2   -0.055090  Product_001  2023-09-01
3   -0.055090  Product_001  2023-10-01
4   -0.055090  Product_001  2023-11-01
..        ...          ...         ...
821 -1.219454          NaN         NaT
822 -1.219454          NaN         NaT
823 -1.219454          NaN         NaT
824 -1.219454          NaN         NaT