In [1]:
!pip install statsmodels

Requirement already satisfied: statsmodels in /opt/conda/lib/python3.9/site-packages (0.14.3)
Requirement already satisfied: numpy<3,>=1.22.3 in /opt/conda/lib/python3.9/site-packages (from statsmodels) (1.26.4)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in /opt/conda/lib/python3.9/site-packages (from statsmodels) (1.13.1)
Requirement already satisfied: patsy>=0.5.6 in /opt/conda/lib/python3.9/site-packages (from statsmodels) (0.5.6)
Requirement already satisfied: pandas!=2.1.0,>=1.4 in /opt/conda/lib/python3.9/site-packages (from statsmodels) (2.2.0)
Requirement already satisfied: packaging>=21.3 in /opt/conda/lib/python3.9/site-packages (from statsmodels) (23.2)
Requirement already satisfied: six in /opt/conda/lib/python3.9/site-packages (from patsy>=0.5.6->statsmodels) (1.16.0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.9/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.9/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.9/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.9.0.post0)
WARNING: You are using pip version 19.3.1; however, version 24.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.tsa.statespace.sarimax import SARIMAX
from sklearn.metrics import mean_squared_error, r2_score

In [3]:
from fosforml.model_manager.snowflakesession import get_session
my_session = get_session()
 
table_name = '"FACT_CUSTOMER_ORDERS"'
 
sf_df = my_session.sql("select * from {}".format(table_name))
df = sf_df.to_pandas()

In [4]:
data = df[['PRODUCT_ID','ORDER_DATE','ORDER_QTY']]

In [5]:
data['ORDER_DATE']=pd.to_datetime(data['ORDER_DATE'])

In [6]:
data_grouped = data.groupby(['PRODUCT_ID',data['ORDER_DATE'].dt.to_period('M')]).agg(Total_Order_Qty=('ORDER_QTY','sum')).reset_index()

In [7]:
data_grouped['ORDER_MONTH']=data_grouped['ORDER_DATE'].dt.to_timestamp()

In [9]:
data_grouped = data_grouped[['PRODUCT_ID','ORDER_MONTH','Total_Order_Qty']]

In [10]:
data_grouped

       PRODUCT_ID ORDER_MONTH  Total_Order_Qty
0     Product_001  2019-01-01           148400
1     Product_001  2019-02-01           146650
2     Product_001  2019-03-01           133150
3     Product_001  2019-04-01           153600
4     Product_001  2019-05-01           154650
...           ...         ...              ...
2987  Product_100  2024-04-01            30200
2988  Product_100  2024-05-01            27850
2989  Product_100  2024-06-01            33200
2990  Product_100  2024-07-01            33300
2991  Product_100  2024-08-01            30700

[2992 rows x 3 columns]

In [11]:
data_grouped = data_grouped.set_index('ORDER_MONTH')

In [12]:
data_grouped

              PRODUCT_ID  Total_Order_Qty
ORDER_MONTH
2019-01-01   Product_001           148400
2019-02-01   Product_001           146650
2019-03-01   Product_001           133150
2019-04-01   Product_001           153600
2019-05-01   Product_001           154650
...                  ...              ...
2024-04-01   Product_100            30200
2024-05-01   Product_100            27850
2024-06-01   Product_100            33200
2024-07-01   Product_100            33300
2024-08-01   Product_100            30700

[2992 rows x 2 columns]

In [17]:
# Group data by 'product_id'
PID_grouped_data = data_grouped.groupby('PRODUCT_ID')

In [28]:
# Initialize an empty DataFrame for forecast results
test_results = pd.DataFrame(columns=['PRODUCT_ID','ORDER_MONTH', 'test_forecast_orders','rse', 'rmse','r2_score'])

In [29]:
forecast_results = pd.DataFrame(columns=['PRODUCT_ID','ORDER_MONTH', 'forecast_order_qty'])

In [37]:
for product_id, group in PID_grouped_data:
    # Sort data by order date
    group.sort_index(inplace=True)

    print(f'{group}')
    
    # Split data into train and test sets (80% train, 20% test)
    train_size = int(0.8 * len(group))
    train_data, test_data = group.iloc[:train_size], group.iloc[train_size:]

    print(f'{train_data.index}')
    
    # Create SARIMAX model
    model = SARIMAX(train_data['Total_Order_Qty'], order=(1, 1, 1), seasonal_order=(1, 1, 1, 12))
    model_fit = model.fit(disp=False)
    
    # Forecast the next period
    test_model = model_fit.get_forecast(steps=len(test_data))
    test_df = test_model.predicted_mean

    #print(f'test_df:{test_df.index}')
    
    # Calculate RMSE for order quantity
    #rmse_order_qty = np.sqrt(mean_squared_error(test_data['ORDER_QTY'], forecast_order_qty))
    
    # Evaluate the model
    rse = np.sqrt(((test_df - test_data) ** 2).sum().sum() / (test_data.shape[0] * test_data.shape[1] - len(model_fit.params)))
    rmse = np.sqrt(mean_squared_error(test_data['Total_Order_Qty'], test_df))
    r2 = r2_score(test_data['Total_Order_Qty'], test_df)

    print(f'{PRODUCT_ID:},{r2}
    date_list = test_df.index.to_list()
    

    
    #print(f"Order_date: {date_list}")    
    new_row = {
        'PRODUCT_ID': product_id,
        'ORDER_MONTH': date_list,
        'test_forecast_orders': test_df,
        'rse': rse,
        'rmse': rmse,
        'r2_score': r2
    }
    
    df_new = pd.DataFrame(new_row)

    df_new.set_index('ORDER_MONTH')
    
    test_results=pd.concat([test_results,df_new],ignore_index=True)
    # Forecast future values
    forecast = model_fit.get_forecast(steps=25)#, steps=n_forecast)
    forecast_df = forecast.predicted_mean
    print(f'{forecast_df.index}')
    date_list2= forecast_df.index.to_list()
    
    new_row2 = {
        'PRODUCT_ID': product_id,
        'ORDER_MONTH': date_list2,
        'forecast_order_qty': forecast_df,
    }
    
    df_new2 = pd.DataFrame(new_row2)
    
    forecast_results=pd.concat([forecast_results,df_new2],ignore_index=True)

              PRODUCT_ID  Total_Order_Qty
ORDER_MONTH
2019-01-01   Product_001           148400
2019-02-01   Product_001           146650
2019-03-01   Product_001           133150
2019-04-01   Product_001           153600
2019-05-01   Product_001           154650
...                  ...              ...
2024-04-01   Product_001           128300
2024-05-01   Product_001           115350
2024-06-01   Product_001           144950
2024-07-01   Product_001           155700
2024-08-01   Product_001           113300

[68 rows x 2 columns]
DatetimeIndex(['2019-01-01', '2019-02-01', '2019-03-01', '2019-04-01',
               '2019-05-01', '2019-06-01', '2019-07-01', '2019-08-01',
               '2019-09-01', '2019-10-01', '2019-11-01', '2019-12-01',
               '2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
               '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-01',
               '2020-09-01', '2020-10-01', '2020-11-01', '2020-12-01',
               '2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01',
               '2021-05-01', '2021-06-01', '2021-07-01', '2021-08-01',
               '2021-09-01', '2021-10-01', '2021-11-01', '2021-12-01',
               '2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01',
               '2022-05-01', '2022-06-01', '2022-07-01', '2022-08-01',
               '2022-09-01', '2022-10-01', '2022-11-01', '2022-12-01',
               '2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01',
               '2023-05-01', '2023-06-01'],
              dtype='datetime64[ns]', name='ORDER_MONTH', freq=None)
DatetimeIndex(['2023-07-01', '2023-08-01', '2023-09-01', '2023-10-01',
               '2023-11-01', '2023-12-01', '2024-01-01', '2024-02-01',
               '2024-03-01', '2024-04-01', '2024-05-01', '2024-06-01',
               '2024-07-01', '2024-08-01', '2024-09-01', '2024-10-01',
               '2024-11-01', '2024-12-01', '2025-01-01', '2025-02-01',
               '2025-03-01', '2025-04-01', '2025-05-01', '2025-06-01',
               '2025-07-01'],
              dtype='datetime64[ns]', freq='MS')
              PRODUCT_ID  Total_Order_Qty
ORDER_MONTH
2019-01-01   Product_002            64750
2019-02-01   Product_002            83350
2019-03-01   Product_002            77650
2019-04-01   Product_002            76300
2019-05-01   Product_002            89400
...                  ...              ...
2024-04-01   Product_002            79200
2024-05-01   Product_002            54050
2024-06-01   Product_002            82200
2024-07-01   Product_002            76600
2024-08-01   Product_002            71350

[68 rows x 2 columns]
DatetimeIndex(['2019-01-01', '2019-02-01', '2019-03-01', '2019-04-01',
               '2019-05-01', '2019-06-01', '2019-07-01', '2019-08-01',
               '2019-09-01', '2019-10-01', '2019-11-01', '2019-12-01',
               '2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
               '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-01',
               '2020-09-01', '2020-10-01', '2020-11-01', '2020-12-01',
               '2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01',
               '2021-05-01', '2021-06-01', '2021-07-01', '2021-08-01',
               '2021-09-01', '2021-10-01', '2021-11-01', '2021-12-01',
               '2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01',
               '2022-05-01', '2022-06-01', '2022-07-01', '2022-08-01',
               '2022-09-01', '2022-10-01', '2022-11-01', '2022-12-01',
               '2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01',
               '2023-05-01', '2023-06-01'],
              dtype='datetime64[ns]', name='ORDER_MONTH', freq=None)
DatetimeIndex(['2023-07-01', '2023-08-01', '2023-09-01', '2023-10-01',
               '2023-11-01', '2023-12-01', '2024-01-01', '2024-02-01',
               '2024-03-01', '2024-04-01', '2024-05-01', '2024-06-01',
               '2024-07-01', '2024-08-01', '2024-09-01', '2024-10-01',
               '2024-11-01', '2024-12-01', '2025-01-01', '2025-02-01',
               '2025-03-01', '2025-04-01', '2025-05-01', '2025-06-01',
               '2025-07-01'],
              dtype='datetime64[ns]', freq='MS')
              PRODUCT_ID  Total_Order_Qty
ORDER_MONTH
2019-01-01   Product_003            46250
2019-02-01   Product_003            48150
2019-03-01   Product_003            45900
2019-04-01   Product_003            40750
2019-05-01   Product_003            53150
...                  ...              ...
2024-04-01   Product_003            43500
2024-05-01   Product_003            44850
2024-06-01   Product_003            53900
2024-07-01   Product_003            46050
2024-08-01   Product_003            34700

[68 rows x 2 columns]
DatetimeIndex(['2019-01-01', '2019-02-01', '2019-03-01', '2019-04-01',
               '2019-05-01', '2019-06-01', '2019-07-01', '2019-08-01',
               '2019-09-01', '2019-10-01', '2019-11-01', '2019-12-01',
               '2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
               '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-01',
               '2020-09-01', '2020-10-01', '2020-11-01', '2020-12-01',
               '2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01',
               '2021-05-01', '2021-06-01', '2021-07-01', '2021-08-01',
               '2021-09-01', '2021-10-01', '2021-11-01', '2021-12-01',
               '2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01',
               '2022-05-01', '2022-06-01', '2022-07-01', '2022-08-01',
               '2022-09-01', '2022-10-01', '2022-11-01', '2022-12-01',
               '2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01',
               '2023-05-01', '2023-06-01'],
              dtype='datetime64[ns]', name='ORDER_MONTH', freq=None)
DatetimeIndex(['2023-07-01', '2023-08-01', '2023-09-01', '2023-10-01',
               '2023-11-01', '2023-12-01', '2024-01-01', '2024-02-01',
               '2024-03-01', '2024-04-01', '2024-05-01', '2024-06-01',
               '2024-07-01', '2024-08-01', '2024-09-01', '2024-10-01',
               '2024-11-01', '2024-12-01', '2025-01-01', '2025-02-01',
               '2025-03-01', '2025-04-01', '2025-05-01', '2025-06-01',
               '2025-07-01'],
              dtype='datetime64[ns]', freq='MS')
              PRODUCT_ID  Total_Order_Qty
ORDER_MONTH
2019-01-01   Product_004            38950
2019-02-01   Product_004            48900
2019-03-01   Product_004            58350
2019-04-01   Product_004            55300
2019-05-01   Product_004            51500
...                  ...              ...
2024-04-01   Product_004            65400
2024-05-01   Product_004            41000
2024-06-01   Product_004            44200
2024-07-01   Product_004            52800
2024-08-01   Product_004            33900

[68 rows x 2 columns]
DatetimeIndex(['2019-01-01', '2019-02-01', '2019-03-01', '2019-04-01',
               '2019-05-01', '2019-06-01', '2019-07-01', '2019-08-01',
               '2019-09-01', '2019-10-01', '2019-11-01', '2019-12-01',
               '2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
               '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-01',
               '2020-09-01', '2020-10-01', '2020-11-01', '2020-12-01',
               '2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01',
               '2021-05-01', '2021-06-01', '2021-07-01', '2021-08-01',
               '2021-09-01', '2021-10-01', '2021-11-01', '2021-12-01',
               '2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01',
               '2022-05-01', '2022-06-01', '2022-07-01', '2022-08-01',
               '2022-09-01', '2022-10-01', '2022-11-01', '2022-12-01',
               '2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01',
               '2023-05-01', '2023-06-01'],
              dtype='datetime64[ns]', name='ORDER_MONTH', freq=None)
DatetimeIndex(['2023-07-01', '2023-08-01', '2023-09-01', '2023-10-01',
               '2023-11-01', '2023-12-01', '2024-01-01', '2024-02-01',
               '2024-03-01', '2024-04-01', '2024-05-01', '2024-06-01',
               '2024-07-01', '2024-08-01', '2024-09-01', '2024-10-01',
               '2024-11-01', '2024-12-01', '2025-01-01', '2025-02-01',
               '2025-03-01', '2025-04-01', '2025-05-01', '2025-06-01',
               '2025-07-01'],
              dtype='datetime64[ns]', freq='MS')
              PRODUCT_ID  Total_Order_Qty
ORDER_MONTH
2019-01-01   Product_007            29050
2019-02-01   Product_007            30650
2019-03-01   Product_007            29850
2019-04-01   Product_007            35250
2019-05-01   Product_007            45850
...                  ...              ...
2024-04-01   Product_007            38400
2024-05-01   Product_007            32350
2024-06-01   Product_007            40600
2024-07-01   Product_007            30600
2024-08-01   Product_007            27600

[68 rows x 2 columns]
DatetimeIndex(['2019-01-01', '2019-02-01', '2019-03-01', '2019-04-01',
               '2019-05-01', '2019-06-01', '2019-07-01', '2019-08-01',
               '2019-09-01', '2019-10-01', '2019-11-01', '2019-12-01',
               '2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
               '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-01',
               '2020-09-01', '2020-10-01', '2020-11-01', '2020-12-01',
               '2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01',
               '2021-05-01', '2021-06-01', '2021-07-01', '2021-08-01',
               '2021-09-01', '2021-10-01', '2021-11-01', '2021-12-01',
               '2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01',
               '2022-05-01', '2022-06-01', '2022-07-01', '2022-08-01',
               '2022-09-01', '2022-10-01', '2022-11-01', '2022-12-01',
               '2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01',
               '2023-05-01', '2023-06-01'],
              dtype='datetime64[ns]', name='ORDER_MONTH', freq=None)
DatetimeIndex(['2023-07-01', '2023-08-01', '2023-09-01', '2023-10-01',
               '2023-11-01', '2023-12-01', '2024-01-01', '2024-02-01',
               '2024-03-01', '2024-04-01', '2024-05-01', '2024-06-01',
               '2024-07-01', '2024-08-01', '2024-09-01', '2024-10-01',
               '2024-11-01', '2024-12-01', '2025-01-01', '2025-02-01',
               '2025-03-01', '2025-04-01', '2025-05-01', '2025-06-01',
               '2025-07-01'],
              dtype='datetime64[ns]', freq='MS')
              PRODUCT_ID  Total_Order_Qty
ORDER_MONTH
2019-01-01   Product_010            75950
2019-02-01   Product_010            85600
2019-03-01   Product_010            81300
2019-04-01   Product_010            87300
2019-05-01   Product_010            86900
...                  ...              ...
2024-04-01   Product_010            82000
2024-05-01   Product_010            59450
2024-06-01   Product_010            78500
2024-07-01   Product_010            99000
2024-08-01   Product_010            67850

[68 rows x 2 columns]
DatetimeIndex(['2019-01-01', '2019-02-01', '2019-03-01', '2019-04-01',
               '2019-05-01', '2019-06-01', '2019-07-01', '2019-08-01',
               '2019-09-01', '2019-10-01', '2019-11-01', '2019-12-01',
               '2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
               '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-01',
               '2020-09-01', '2020-10-01', '2020-11-01', '2020-12-01',
               '2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01',
               '2021-05-01', '2021-06-01', '2021-07-01', '2021-08-01',
               '2021-09-01', '2021-10-01', '2021-11-01', '2021-12-01',
               '2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01',
               '2022-05-01', '2022-06-01', '2022-07-01', '2022-08-01',
               '2022-09-01', '2022-10-01', '2022-11-01', '2022-12-01',
               '2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01',
               '2023-05-01', '2023-06-01'],
              dtype='datetime64[ns]', name='ORDER_MONTH', freq=None)
DatetimeIndex(['2023-07-01', '2023-08-01', '2023-09-01', '2023-10-01',
               '2023-11-01', '2023-12-01', '2024-01-01', '2024-02-01',
               '2024-03-01', '2024-04-01', '2024-05-01', '2024-06-01',
               '2024-07-01', '2024-08-01', '2024-09-01', '2024-10-01',
               '2024-11-01', '2024-12-01', '2025-01-01', '2025-02-01',
               '2025-03-01', '2025-04-01', '2025-05-01', '2025-06-01',
               '2025-07-01'],
              dtype='datetime64[ns]', freq='MS')
              PRODUCT_ID  Total_Order_Qty
ORDER_MONTH
2019-01-01   Product_015            77050
2019-02-01   Product_015            68750
2019-03-01   Product_015            51050
2019-04-01   Product_015            64000
2019-05-01   Product_015            65600
...                  ...              ...
2024-04-01   Product_015            56850
2024-05-01   Product_015            51950
2024-06-01   Product_015            67000
2024-07-01   Product_015            86800
2024-08-01   Product_015            44800

[68 rows x 2 columns]
DatetimeIndex(['2019-01-01', '2019-02-01', '2019-03-01', '2019-04-01',
               '2019-05-01', '2019-06-01', '2019-07-01', '2019-08-01',
               '2019-09-01', '2019-10-01', '2019-11-01', '2019-12-01',
               '2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
               '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-01',
               '2020-09-01', '2020-10-01', '2020-11-01', '2020-12-01',
               '2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01',
               '2021-05-01', '2021-06-01', '2021-07-01', '2021-08-01',
               '2021-09-01', '2021-10-01', '2021-11-01', '2021-12-01',
               '2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01',
               '2022-05-01', '2022-06-01', '2022-07-01', '2022-08-01',
               '2022-09-01', '2022-10-01', '2022-11-01', '2022-12-01',
               '2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01',
               '2023-05-01', '2023-06-01'],
              dtype='datetime64[ns]', name='ORDER_MONTH', freq=None)
DatetimeIndex(['2023-07-01', '2023-08-01', '2023-09-01', '2023-10-01',
               '2023-11-01', '2023-12-01', '2024-01-01', '2024-02-01',
               '2024-03-01', '2024-04-01', '2024-05-01', '2024-06-01',
               '2024-07-01', '2024-08-01', '2024-09-01', '2024-10-01',
               '2024-11-01', '2024-12-01', '2025-01-01', '2025-02-01',
               '2025-03-01', '2025-04-01', '2025-05-01', '2025-06-01',
               '2025-07-01'],
              dtype='datetime64[ns]', freq='MS')
              PRODUCT_ID  Total_Order_Qty
ORDER_MONTH
2019-01-01   Product_016            82400
2019-02-01   Product_016            91850
2019-03-01   Product_016            85100
2019-04-01   Product_016           102550
2019-05-01   Product_016            84400
...                  ...              ...
2024-04-01   Product_016            92000
2024-05-01   Product_016            76850
2024-06-01   Product_016            89900
2024-07-01   Product_016           114750
2024-08-01   Product_016            64650

[68 rows x 2 columns]
DatetimeIndex(['2019-01-01', '2019-02-01', '2019-03-01', '2019-04-01',
               '2019-05-01', '2019-06-01', '2019-07-01', '2019-08-01',
               '2019-09-01', '2019-10-01', '2019-11-01', '2019-12-01',
               '2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
               '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-01',
               '2020-09-01', '2020-10-01', '2020-11-01', '2020-12-01',
               '2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01',
               '2021-05-01', '2021-06-01', '2021-07-01', '2021-08-01',
               '2021-09-01', '2021-10-01', '2021-11-01', '2021-12-01',
               '2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01',
               '2022-05-01', '2022-06-01', '2022-07-01', '2022-08-01',
               '2022-09-01', '2022-10-01', '2022-11-01', '2022-12-01',
               '2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01',
               '2023-05-01', '2023-06-01'],
              dtype='datetime64[ns]', name='ORDER_MONTH', freq=None)
DatetimeIndex(['2023-07-01', '2023-08-01', '2023-09-01', '2023-10-01',
               '2023-11-01', '2023-12-01', '2024-01-01', '2024-02-01',
               '2024-03-01', '2024-04-01', '2024-05-01', '2024-06-01',
               '2024-07-01', '2024-08-01', '2024-09-01', '2024-10-01',
               '2024-11-01', '2024-12-01', '2025-01-01', '2025-02-01',
               '2025-03-01', '2025-04-01', '2025-05-01', '2025-06-01',
               '2025-07-01'],
              dtype='datetime64[ns]', freq='MS')
              PRODUCT_ID  Total_Order_Qty
ORDER_MONTH
2019-01-01   Product_019            72150
2019-02-01   Product_019            92150
2019-03-01   Product_019           100500
2019-04-01   Product_019            83650
2019-05-01   Product_019            86900
...                  ...              ...
2024-04-01   Product_019            82450
2024-05-01   Product_019            56550
2024-06-01   Product_019            76300
2024-07-01   Product_019            87150
2024-08-01   Product_019            60500

[68 rows x 2 columns]
DatetimeIndex(['2019-01-01', '2019-02-01', '2019-03-01', '2019-04-01',
               '2019-05-01', '2019-06-01', '2019-07-01', '2019-08-01',
               '2019-09-01', '2019-10-01', '2019-11-01', '2019-12-01',
               '2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
               '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-01',
               '2020-09-01', '2020-10-01', '2020-11-01', '2020-12-01',
               '2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01',
               '2021-05-01', '2021-06-01', '2021-07-01', '2021-08-01',
               '2021-09-01', '2021-10-01', '2021-11-01', '2021-12-01',
               '2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01',
               '2022-05-01', '2022-06-01', '2022-07-01', '2022-08-01',
               '2022-09-01', '2022-10-01', '2022-11-01', '2022-12-01',
               '2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01',
               '2023-05-01', '2023-06-01'],
              dtype='datetime64[ns]', name='ORDER_MONTH', freq=None)
DatetimeIndex(['2023-07-01', '2023-08-01', '2023-09-01', '2023-10-01',
               '2023-11-01', '2023-12-01', '2024-01-01', '2024-02-01',
               '2024-03-01', '2024-04-01', '2024-05-01', '2024-06-01',
               '2024-07-01', '2024-08-01', '2024-09-01', '2024-10-01',
               '2024-11-01', '2024-12-01', '2025-01-01', '2025-02-01',
               '2025-03-01', '2025-04-01', '2025-05-01', '2025-06-01',
               '2025-07-01'],
              dtype='datetime64[ns]', freq='MS')
              PRODUCT_ID  Total_Order_Qty
ORDER_MONTH
2019-01-01   Product_023            74900
2019-02-01   Product_023            84150
2019-03-01   Product_023           101900
2019-04-01   Product_023            82300
2019-05-01   Product_023            86150
...                  ...              ...
2024-04-01   Product_023            88150
2024-05-01   Product_023            65950
2024-06-01   Product_023            86400
2024-07-01   Product_023            98350
2024-08-01   Product_023            70650

[68 rows x 2 columns]
DatetimeIndex(['2019-01-01', '2019-02-01', '2019-03-01', '2019-04-01',
               '2019-05-01', '2019-06-01', '2019-07-01', '2019-08-01',
               '2019-09-01', '2019-10-01', '2019-11-01', '2019-12-01',
               '2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
               '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-01',
               '2020-09-01', '2020-10-01', '2020-11-01', '2020-12-01',
               '2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01',
               '2021-05-01', '2021-06-01', '2021-07-01', '2021-08-01',
               '2021-09-01', '2021-10-01', '2021-11-01', '2021-12-01',
               '2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01',

In [33]:
test_results

,PRODUCT_ID,ORDER_MONTH,test_forecast_orders,rse,rmse,r2_score
0,Product_001,2023-07-01,118823.028009,0.0,15697.565379,-0.055090
1,Product_001,2023-08-01,101123.262760,0.0,15697.565379,-0.055090
2,Product_001,2023-09-01,105282.149996,0.0,15697.565379,-0.055090
3,Product_001,2023-10-01,117745.845182,0.0,15697.565379,-0.055090
4,Product_001,2023-11-01,110611.593083,0.0,15697.565379,-0.055090
...,...,...,...,...,...,...
611,Product_100,2024-04-01,18561.642690,0.0,8128.208481,-2.288506
612,Product_100,2024-05-01,21368.799836,0.0,8128.208481,-2.288506
613,Product_100,2024-06-01,24816.242093,0.0,8128.208481,-2.288506
614,Product_100,2024-07-01,21318.819139,0.0,8128.208481,-2.288506
615,Product_100,2024-08-01,18964.048803,0.0,8128.208481,-2.288506

In [34]:
forecast_results

       PRODUCT_ID ORDER_MONTH  forecast_order_qty
0     Product_001  2023-07-01       118823.028009
1     Product_001  2023-08-01       101123.262760
2     Product_001  2023-09-01       105282.149996
3     Product_001  2023-10-01       117745.845182
4     Product_001  2023-11-01       110611.593083
...           ...         ...                 ...
1095  Product_100  2025-03-01        26101.562368
1096  Product_100  2025-04-01        17079.529558
1097  Product_100  2025-05-01        20108.877208
1098  Product_100  2025-06-01        22627.141399
1099  Product_100  2025-07-01        19441.571499

[1100 rows x 3 columns]

In [42]:
sf_df = my_session.createDataFrame(test_results)
sf_df.write.mode("overwrite").save_as_table("ORDER_FORECAST_TEST")
my_session.table("ORDER_FORECAST_TEST").show()

-------------------------------------------------------------------------------------------------------------------
|"PRODUCT_ID"  |"ORDER_MONTH"        |"test_forecast_orders"  |"rse"  |"rmse"              |"r2_score"            |
-------------------------------------------------------------------------------------------------------------------
|Product_001   |2023-07-01 00:00:00  |118823.0280087485       |0.0    |15697.565379119542  |-0.05508991816590081  |
|Product_001   |2023-08-01 00:00:00  |101123.26275967901      |0.0    |15697.565379119542  |-0.05508991816590081  |
|Product_001   |2023-09-01 00:00:00  |105282.14999635714      |0.0    |15697.565379119542  |-0.05508991816590081  |
|Product_001   |2023-10-01 00:00:00  |117745.8451819192       |0.0    |15697.565379119542  |-0.05508991816590081  |
|Product_001   |2023-11-01 00:00:00  |110611.59308316885      |0.0    |15697.565379119542  |-0.05508991816590081  |
|Product_001   |2023-12-01 00:00:00  |109442.18813553792      |0.0    |15697.565379119542  |-0.05508991816590081  |
|Product_001   |2024-01-01 00:00:00  |123789.85901559627      |0.0    |15697.565379119542  |-0.05508991816590081  |
|Product_001   |2024-02-01 00:00:00  |121702.67368633783      |0.0    |15697.565379119542  |-0.05508991816590081  |
|Product_001   |2024-03-01 00:00:00  |126125.91939069977      |0.0    |15697.565379119542  |-0.05508991816590081  |
|Product_001   |2024-04-01 00:00:00  |122617.48431518582      |0.0    |15697.565379119542  |-0.05508991816590081  |
-------------------------------------------------------------------------------------------------------------------

In [43]:
sf_df = my_session.createDataFrame(forecast_results)
sf_df.write.mode("overwrite").save_as_table("ORDER_FORECAST")
my_session.table("ORDER_FORECAST").show()

-------------------------------------------------------------
|"PRODUCT_ID"  |"ORDER_MONTH"        |"forecast_order_qty"  |
-------------------------------------------------------------
|Product_001   |2023-07-01 00:00:00  |118823.0280087485     |
|Product_001   |2023-08-01 00:00:00  |101123.26275967901    |
|Product_001   |2023-09-01 00:00:00  |105282.14999635714    |
|Product_001   |2023-10-01 00:00:00  |117745.8451819192     |
|Product_001   |2023-11-01 00:00:00  |110611.59308316885    |
|Product_001   |2023-12-01 00:00:00  |109442.18813553792    |
|Product_001   |2024-01-01 00:00:00  |123789.85901559627    |
|Product_001   |2024-02-01 00:00:00  |121702.67368633783    |
|Product_001   |2024-03-01 00:00:00  |126125.91939069977    |
|Product_001   |2024-04-01 00:00:00  |122617.48431518582    |
-------------------------------------------------------------