In [1]:
!pip install statsmodels

Requirement already satisfied: statsmodels in /opt/conda/lib/python3.9/site-packages (0.14.3)
Requirement already satisfied: pandas!=2.1.0,>=1.4 in /opt/conda/lib/python3.9/site-packages (from statsmodels) (2.2.0)
Requirement already satisfied: patsy>=0.5.6 in /opt/conda/lib/python3.9/site-packages (from statsmodels) (0.5.6)
Requirement already satisfied: packaging>=21.3 in /opt/conda/lib/python3.9/site-packages (from statsmodels) (23.2)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in /opt/conda/lib/python3.9/site-packages (from statsmodels) (1.13.1)
Requirement already satisfied: numpy<3,>=1.22.3 in /opt/conda/lib/python3.9/site-packages (from statsmodels) (1.26.4)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.9/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.9/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.9/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2024.1)
Requirement already satisfied: six in /opt/conda/lib/python3.9/site-packages (from patsy>=0.5.6->statsmodels) (1.16.0)
WARNING: You are using pip version 19.3.1; however, version 24.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.tsa.statespace.sarimax import SARIMAX
from sklearn.metrics import mean_squared_error, r2_score

In [3]:
from fosforml.model_manager.snowflakesession import get_session
my_session = get_session()
 
table_name = '"FACT_CUSTOMER_ORDERS"'
 
sf_df = my_session.sql("select * from {}".format(table_name))
df = sf_df.to_pandas()

In [4]:
data = df[['PRODUCT_ID','ORDER_DATE','ORDER_QTY']]

In [5]:
data

         PRODUCT_ID  ORDER_DATE  ORDER_QTY
0       Product_001  2019-01-02        850
1       Product_004  2019-01-02        700
2       Product_004  2019-01-02        900
3       Product_004  2019-01-02        550
4       Product_004  2019-01-02        300
...             ...         ...        ...
225558  Product_098  2024-08-31        200
225559  Product_100  2024-08-31        800
225560  Product_100  2024-08-31        550
225561  Product_100  2024-08-31        850
225562  Product_100  2024-08-31        300

[225563 rows x 3 columns]

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225563 entries, 0 to 225562
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   PRODUCT_ID  225563 non-null  object
 1   ORDER_DATE  225563 non-null  object
 2   ORDER_QTY   225563 non-null  int16
dtypes: int16(1), object(2)
memory usage: 3.9+ MB

In [7]:
data['ORDER_DATE'] = pd.to_datetime(data['ORDER_DATE'])

In [17]:
data = data.set_index('ORDER_DATE')

In [18]:
data

             PRODUCT_ID  ORDER_QTY
ORDER_DATE
2019-01-02  Product_001        850
2019-01-02  Product_004        700
2019-01-02  Product_004        900
2019-01-02  Product_004        550
2019-01-02  Product_004        300
...                 ...        ...
2024-08-31  Product_098        200
2024-08-31  Product_100        800
2024-08-31  Product_100        550
2024-08-31  Product_100        850
2024-08-31  Product_100        300

[225563 rows x 2 columns]

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 225563 entries, 2019-01-02 to 2024-08-31
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   PRODUCT_ID  225563 non-null  object
 1   ORDER_QTY   225563 non-null  int16
dtypes: int16(1), object(1)
memory usage: 3.9+ MB