In [1]:
!pip install statsmodels

Collecting statsmodels
  Downloading https://files.pythonhosted.org/packages/38/d2/5c6a7f11306d25ab10dbade224f55d1a0d492c48292aed65b351b89a0abe/statsmodels-0.14.3-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (10.8MB)
     |████████████████████████████████| 10.8MB 185kB/s eta 0:00:01
Requirement already satisfied: pandas!=2.1.0,>=1.4 in /opt/conda/lib/python3.9/site-packages (from statsmodels) (2.2.0)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in /opt/conda/lib/python3.9/site-packages (from statsmodels) (1.13.1)
Requirement already satisfied: numpy<3,>=1.22.3 in /opt/conda/lib/python3.9/site-packages (from statsmodels) (1.26.4)
Collecting patsy>=0.5.6
  Downloading https://files.pythonhosted.org/packages/43/f3/1d311a09c34f14f5973bb0bb0dc3a6e007e1eda90b5492d082689936ca51/patsy-0.5.6-py2.py3-none-any.whl (233kB)
     |████████████████████████████████| 235kB 83.0MB/s eta 0:00:01
Requirement already satisfied: packaging>=21.3 in /opt/conda/lib/python3.9/site-packages (from statsmodels) (23.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.9/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.9/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.9/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2024.1)
Requirement already satisfied: six in /opt/conda/lib/python3.9/site-packages (from patsy>=0.5.6->statsmodels) (1.16.0)
Installing collected packages: patsy, statsmodels
Successfully installed patsy-0.5.6 statsmodels-0.14.3
WARNING: You are using pip version 19.3.1; however, version 24.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.tsa.statespace.sarimax import SARIMAX
from sklearn.metrics import mean_squared_error, r2_score

In [3]:
from fosforml.model_manager.snowflakesession import get_session
my_session = get_session()
 
table_name = '"FACT_CUSTOMER_ORDERS"'
 
sf_df = my_session.sql("select * from {}".format(table_name))
df = sf_df.to_pandas()

In [4]:
data = df[['PRODUCT_ID','ORDER_DATE','ORDER_QTY']]

In [5]:
data

         PRODUCT_ID  ORDER_DATE  ORDER_QTY
0       Product_001  2019-01-02        850
1       Product_004  2019-01-02        700
2       Product_004  2019-01-02        900
3       Product_004  2019-01-02        550
4       Product_004  2019-01-02        300
...             ...         ...        ...
225558  Product_098  2024-08-31        200
225559  Product_100  2024-08-31        800
225560  Product_100  2024-08-31        550
225561  Product_100  2024-08-31        850
225562  Product_100  2024-08-31        300

[225563 rows x 3 columns]

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225563 entries, 0 to 225562
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   PRODUCT_ID  225563 non-null  object
 1   ORDER_DATE  225563 non-null  object
 2   ORDER_QTY   225563 non-null  int16
dtypes: int16(1), object(2)
memory usage: 3.9+ MB

In [8]:
data['ORDER_DATE'] = pd.to_datetime(data['ORDER_DATE'])

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225563 entries, 0 to 225562
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   PRODUCT_ID  225563 non-null  object
 1   ORDER_DATE  225563 non-null  datetime64[ns]
 2   ORDER_QTY   225563 non-null  int16
dtypes: datetime64[ns](1), int16(1), object(1)
memory usage: 3.9+ MB

In [10]:
data

         PRODUCT_ID ORDER_DATE  ORDER_QTY
0       Product_001 2019-01-02        850
1       Product_004 2019-01-02        700
2       Product_004 2019-01-02        900
3       Product_004 2019-01-02        550
4       Product_004 2019-01-02        300
...             ...        ...        ...
225558  Product_098 2024-08-31        200
225559  Product_100 2024-08-31        800
225560  Product_100 2024-08-31        550
225561  Product_100 2024-08-31        850
225562  Product_100 2024-08-31        300

[225563 rows x 3 columns]

In [11]:
data = data.set_index('ORDER_DATE')

In [12]:
data

             PRODUCT_ID  ORDER_QTY
ORDER_DATE
2019-01-02  Product_001        850
2019-01-02  Product_004        700
2019-01-02  Product_004        900
2019-01-02  Product_004        550
2019-01-02  Product_004        300
...                 ...        ...
2024-08-31  Product_098        200
2024-08-31  Product_100        800
2024-08-31  Product_100        550
2024-08-31  Product_100        850
2024-08-31  Product_100        300

[225563 rows x 2 columns]

In [13]:
data.sort_index(inplace=True)

In [14]:
data

             PRODUCT_ID  ORDER_QTY
ORDER_DATE
2019-01-02  Product_001        850
2019-01-02  Product_004        700
2019-01-02  Product_004        900
2019-01-02  Product_004        550
2019-01-02  Product_004        300
...                 ...        ...
2024-08-31  Product_098        200
2024-08-31  Product_100        800
2024-08-31  Product_100        550
2024-08-31  Product_100        850
2024-08-31  Product_100        300

[225563 rows x 2 columns]

In [15]:
# Group data by 'product_id'
grouped_data = data.groupby('PRODUCT_ID')

In [16]:
# Initialize an empty DataFrame for forecast results
test_results = pd.DataFrame(columns=['product_id','order_date', 'test_forecast_orders','rse', 'rmse','r2_score'])

In [17]:
# Initialize an empty DataFrame for forecast results
forecast_results = pd.DataFrame(columns=['product_id','order_date', 'forecast_order_qty'])

In [18]:
grouped_data

In [19]:
for product_id, group in grouped_data:
    # Sort data by order date
    group.sort_index(inplace=True)
    
    # Split data into train and test sets (80% train, 20% test)
    train_size = int(0.8 * len(group))
    train_data, test_data = group.iloc[:train_size], group.iloc[train_size:]
    
    # Create SARIMAX model
    model = SARIMAX(train_data['ORDER_QTY'], order=(1, 1, 1), seasonal_order=(1, 1, 1, 12))
    model_fit = model.fit(disp=False)
    
    # Forecast the next period
    test_model = model_fit.get_forecast(steps=len(test_data))
    test_df = test_model.predicted_mean
    
    # Calculate RMSE for order quantity
    #rmse_order_qty = np.sqrt(mean_squared_error(test_data['ORDER_QTY'], forecast_order_qty))
    
    # Evaluate the model
    rse = np.sqrt(((test_df - test_data) ** 2).sum().sum() / (test_data.shape[0] * test_data.shape[1] - len(model_fit.params)))
    rmse = np.sqrt(mean_squared_error(test_data['ORDER_QTY'], test_df))
    r2 = r2_score(test_data['ORDER_QTY'], test_df)

    
    date_list = test_df.index.to_list()
    
    new_row = {
        'product_id': product_id,
        'order_date': date_list,
        'test_forecast_orders': test_df,
        'rse': rse,
        'rmse': rmse,
        'r2_score': r2
    }
    
    df_new = pd.DataFrame(new_row)
    test_results=pd.concat([test_results,df_new],ignore_index=True)
    
    # Forecast future values
    forecast = model_fit.get_forecast(steps=25)#, steps=n_forecast)
    forecast_df = forecast.predicted_mean
    
    date_list2= forecast_df.index.to_list()
    
    new_row2 = {
        'product_id': product_id,
        'order_date': date_list2,
        'forecast_order_qty': forecast_df,
    }
    
    df_new2 = pd.DataFrame(new_row2)
    
    forecast_results=pd.concat([forecast_results,df_new2],ignore_index=True)

In [20]:
test_results

        product_id order_date  test_forecast_orders  rse        rmse  r2_score
0      Product_001      13530            537.353131  0.0  290.185585 -0.000545
1      Product_001      13531            549.804686  0.0  290.185585 -0.000545
2      Product_001      13532            538.368357  0.0  290.185585 -0.000545
3      Product_001      13533            553.529134  0.0  290.185585 -0.000545
4      Product_001      13534            525.990260  0.0  290.185585 -0.000545
...            ...        ...                   ...  ...         ...       ...
45125  Product_100       3886            476.050933  0.0  295.283780 -0.021838
45126  Product_100       3887            522.781958  0.0  295.283780 -0.021838
45127  Product_100       3888            475.125436  0.0  295.283780 -0.021838
45128  Product_100       3889            498.165467  0.0  295.283780 -0.021838
45129  Product_100       3890            500.420893  0.0  295.283780 -0.021838

[45130 rows x 6 columns]

In [21]:
test_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45130 entries, 0 to 45129
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   product_id            45130 non-null  object
 1   order_date            45130 non-null  object
 2   test_forecast_orders  45130 non-null  float64
 3   rse                   45130 non-null  float64
 4   rmse                  45130 non-null  float64
 5   r2_score              45130 non-null  float64
dtypes: float64(4), object(2)
memory usage: 2.1+ MB